/* || About Me */

.about {
  width: 70%;
  margin: 5rem auto 20rem auto;
}

.about-container {
  box-shadow: 10px 0 5px -5px rgba(19, 18, 18, 0.5);
  padding-bottom: 20px;
}

.profile-div {
  padding-bottom: 32px;
}

.hire-me {
  position: relative;
  display: inline-block;
}

.hire-me .tooltip {
  background-image: linear-gradient(
    45deg,
    var(--dracula-purple),
    var(--dracula-cyan),
    var(--dracula-green)
  );
  border-radius: 6px;
  bottom: 100%;
  color: var(--dracula-background);
  font-size: 1rem;
  font-weight: 600;
  left: 50%;
  margin-bottom: 15px;
  margin-left: 60px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  transition: 0.3s ease-out all;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.hire-me .tooltip::after {
  border-color: var(--dracula-cyan) var(--dracula-cyan) transparent transparent;
  border-style: solid;
  border-width: 6px;
  content: ' ';
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: 100%;
}

.hire-me:hover .tooltip {
  opacity: 1;
  transition: opacity 0.4s ease-in;
  visibility: visible;
}

@-moz-document url-prefix() {
  .hire-me:hover .tooltip {
    margin-bottom: 0;
  }
}

@-moz-document url-prefix() {
  .hire-me:hover .tooltip {
    visibility: hidden;
  }
}

.inline {
  display: inline;
}

.paragraph h3 {
  margin-bottom: 25px;
  text-shadow: 4px 4px 1px var(--dracula-greypurple), 9px 8px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  margin-top: 40px;
}

.steve .about-header {
  margin-top: 0;
  padding-right: 20px;
}

.about-header-inline {
  display: inline;
}

.fa-blink {
  -webkit-animation: fa-blink 1.5s infinite;
  -moz-animation: fa-blink 1.5s infinite;
  -ms-animation: fa-blink 1.5s infinite;
  -o-animation: fa-blink 1.5s infinite;
  animation: fa-blink 1.5s infinite;
  font-size: 1.6rem;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.steve {
  text-align: left;
}

.paragraph {
  display: inline;
}

.p-icon {
  margin-right: 5px;
  color: var(--dracula-purple);
}

.trio {
  margin-left: 3px;
  color: var(--dracula-purple);
}

.about-p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 170%;
  padding: 0 15px 20px 15px;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

.about-p:first-of-type {
  margin-top: 25px;
}

.about-p::selection {
  background: var(--dracula-green);
  color: var(--dracula-background);
}

.paragraph h3::selection {
  background: var(--dracula-pink);
  color: var(--dracula-foreground);
}

.profile-image {
  border-radius: 50%;
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  max-width: 25%;
  shape-outside: circle();
}

.tech-used {
  list-style-type: none;
  font-size: 1.2rem;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.tech-used-list::selection {
  background-color: var(--dracula-green);
  color: var(--dracula-background);
}

.tech-used-list {
  margin-left: 15px;
  line-height: 1.5;
}

.tech-used-list:not(:last-child) {
  margin-bottom: 20px;
}

.vwc {
  color: var(--dracula-pink);
}

.vwc:hover {
  color: var(--dracula-purple);
  transition: ease 0.1s;
}

.tech-used-link {
  color: var(--dracula-pink);
}

.tech-used-link::selection {
  background-color: var(--dracula-green);
  color: var(--dracula-background);
}

.tech-used-link:hover {
  color: var(--dracula-purple);
  transition: ease 0.1s;
}

.bullet {
  padding-right: 5px;
  color: var(--dracula-cyan);
}
