/* || About Me */
body {
  background: linear-gradient(
    180deg,
    var(--dracula-background) 20%,
    var(--dracula-greypurple) 100%
  );
}

.about {
  width: 70%;
  margin: 5rem auto 20rem auto;
  scroll-margin-top: 100px;
}

.about-container {
  box-shadow: 10px 0 5px -5px rgba(19, 18, 18, 0.5);
  padding-bottom: 20px;
}

.landing {
  height: 75vh;
}

.anchor {
  width: 40px;
}

.arrow-down {
  animation: 3s arrow infinite ease;
  margin: 85vh auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes arrow {
  0%,
  100% {
    top: 50px;
  }

  50% {
    top: 80px;
  }
}

.profile-div {
  padding-bottom: 32px;
}

.hire-me {
  position: relative;
  display: inline-block;
}

.tippy-box[data-theme~='gradient'] {
  background-image: linear-gradient(90deg, var(--dracula-cyan), var(--dracula-green));
  color: var(--dracula-background);
  width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0 3px 1px rgba(248, 248, 242, 0.8);
}

.tippy-box[data-theme~='gradient'] > .tippy-svg-arrow {
  fill: var(--dracula-cyan);
}

.inline {
  display: inline;
}

.paragraph h3 {
  margin-bottom: 25px;
  text-shadow: 4px 4px 1px var(--dracula-greypurple), 9px 8px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  margin-top: 40px;
}

.steve .about-header {
  margin-top: 0;
  padding-right: 20px;
}

.about-header-inline {
  display: inline;
}

.marg-bottom {
  margin-bottom: 5rem;
}

.fa-blink {
  -webkit-animation: fa-blink 1.5s infinite;
  -moz-animation: fa-blink 1.5s infinite;
  -ms-animation: fa-blink 1.5s infinite;
  -o-animation: fa-blink 1.5s infinite;
  animation: fa-blink 1.5s infinite;
  font-size: 1.6rem;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.steve {
  text-align: left;
}

.paragraph {
  display: inline;
}

.p-icon {
  margin-right: 5px;
  color: var(--dracula-purple);
}

.trio {
  margin-left: 3px;
  color: var(--dracula-purple);
}

.about-p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 170%;
  padding: 0 15px 20px 15px;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

.about-p:first-of-type {
  margin-top: 25px;
}

.about-p::selection {
  background: var(--dracula-green);
  color: var(--dracula-background);
  text-shadow: none;
}

.paragraph h3::selection {
  background: var(--dracula-pink);
  color: var(--dracula-foreground);
  text-shadow: none;
}

.profile-image {
  border-radius: 50%;
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  max-width: 25%;
  shape-outside: circle();
}

.working-on {
  list-style-type: none;
  font-size: 1.2rem;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.working-on-list::selection {
  background-color: var(--dracula-green);
  color: var(--dracula-background);
  text-shadow: none;
}

.working-on-list {
  margin-left: 15px;
  line-height: 1.5;
}

.working-on-list:not(:last-child) {
  margin-bottom: 20px;
}

.vwc {
  color: var(--dracula-foreground);
  background-repeat: repeat-x;
  background-position: left 0% bottom -5%;
  background-image: linear-gradient(
    90deg,
    rgba(40, 42, 54, 1) 0%,
    rgba(139, 233, 253, 1) 50%,
    rgba(255, 121, 198, 0.9) 100%
  );
  background-size: 100% 12%;
  padding-bottom: 5px;
}

.vwc:hover {
  color: var(--dracula-foreground);
}

.vwc::selection {
  color: var(--dracula-background);
  background-color: var(--dracula-green);
  text-shadow: none;
}

.working-on-link {
  color: var(--dracula-pink);
  background-repeat: repeat-x;
  background-position: left 0% bottom -5%;
  background-image: linear-gradient(
    90deg,
    rgba(40, 42, 54, 1) 0%,
    rgba(139, 233, 253, 1) 50%,
    rgba(189, 147, 249, 0.9) 100%
  );
  background-size: 100% 12%;
  padding-bottom: 5px;
}

.working-on-link::selection {
  background-color: var(--dracula-cyan);
  color: var(--dracula-background);
  text-shadow: none;
}

.bullet {
  padding-right: 5px;
  color: var(--dracula-cyan);
}
