/* || Blog */

.blog {
  margin: 5rem auto 18rem auto;
  overflow: hidden;
  width: 90%;
}

.blog-p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 75%;
}

.blog-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.devArticle {
  margin: 1%;
  display: flex;
  border-radius: 5px;
  width: 30%;
  min-height: 180px;
  padding: 0 14px 0 20px;
  align-items: center;
  background: linear-gradient(var(--dracula-greypurple), var(--dracula-greypurple)) padding-box,
    linear-gradient(to right, var(--dracula-cyan), var(--dracula-pink)) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.1s ease;
}

#devArticle {
  color: white;
  text-decoration: none;
  width: 100%;
}

.devArticle:hover {
  box-shadow: 0 0 5px 1px var(--dracula-purple);
  transition: 0.1s ease;
}

#profile_image {
  border-radius: 50%;
  margin-right: 20px;
}

.article-info {
  display: flex;
  word-break: break-word;
  word-wrap: break-word;
}

.devArticle a {
  word-wrap: break-word;
}

.article-info p {
  margin: 5px;
}

#article_title {
  color: var(--dracula-pink);
  font-size: 1.2rem;
}

#tags {
  color: var(--dracula-green);
}

@media screen and (max-width: 1250px) {
  .devArticle {
    width: 48%;
  }
}

@media screen and (max-width: 1100px) {
  .devArticle {
    width: 75%;
    margin: 2%;
  }
}

@media screen and (max-width: 500px) {
  .article-info {
    overflow-wrap: break-word;
  }
}
