/* || Blog */

.blog {
  margin: 5rem auto 18rem auto;
  overflow: hidden;
  width: 90%;
}

.blog-p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 75%;
}

.blog-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.devArticle {
  margin: 1%;
  display: flex;
  border-radius: 5px;
  width: 30%;
  min-height: 180px;
  padding: 0 20px;
  align-items: center;
  background-color: var(--dracula-greypurple);
}

#devArticle {
  color: white;
  text-decoration: none;
  width: 100%;
}

#profile_image {
  border-radius: 50%;
  margin-right: 20px;
}
.article-info {
  display: flex;
}

#article_title {
  color: var(--dracula-pink);
  font-size: 1.2rem;
}

.article-info p {
  margin: 5px;
}
#tags {
  color: var(--dracula-green);
}

@media screen and (max-width: 1250px) {
  .devArticle {
    width: 48%;
  }
}

@media screen and (max-width: 1100px) {
  .devArticle {
    width: 75%;
  }
}
