/* Light Mode */

body.light-mode {
  background-color: var(--dracula-purple);
  color: var(--dracula-background);
}

.custom-shape-divider-top-1619733049 .shape-fill.light-mode {
  opacity: 0.8;
}

.line.light-mode {
  background: linear-gradient(
    to right,
    rgba(189, 147, 249, 0.8),
    rgba(139, 233, 253, 1),
    rgb(255, 121, 198, 0.8)
  );
}

/* About */

.paragraph .about-header.light-mode,
.paragraph .working-on-header.light-mode {
  text-shadow: 4px 4px 1px var(--dracula-comment), 9px 8px 1px rgba(125, 125, 125, 0.15);
}

.about-p.light-mode {
  text-shadow: 0 4px 3px rgba(179, 125, 255, 0.8), 0 8px 13px rgba(179, 125, 255, 0.1),
    0 18px 23px rgba(179, 125, 255, 0.1);
}

.tech-used-link.light-mode {
  color: var(--dracula-cyan);
}

/* Projects */

/* Blog */

/* Contact */
