/* Light Mode */

body.light-mode {
  background: rgb(173, 116, 255);
  background: linear-gradient(180deg, rgb(173, 116, 255) 25%, rgb(255, 121, 198) 100%);
  color: black;
  cursor: url('../assets/images/icons/cursor-white.png'), auto;
  transition: background-color 0.9s linear;
}

/* Header */

body.light-mode .line {
  background: linear-gradient(
    to right,
    rgba(183, 133, 253, 1),
    rgba(139, 233, 253, 1),
    rgba(255, 121, 198, 1)
  );
  box-shadow: 0 0 5px 1px var(--dracula-comment);
}

/* About */

body.light-mode .about .line {
  background: linear-gradient(
    to right,
    rgba(27, 255, 17, 1),
    rgba(139, 233, 253, 1),
    rgba(27, 255, 17, 1)
  );
  box-shadow: 0 0 5px 1px rgb(169, 112, 248);
}

body.light-mode .terminal-window {
  box-shadow: 0 0 5px 1px var(--dracula-background);
}

body.light-mode .terminal-body {
  opacity: 0.9;
}

body.light-mode .section-header {
  color: white;
}

body.light-mode .paragraph h3 {
  color: white;
  text-shadow: 4px 4px 1px var(--dracula-comment), 9px 8px 1px rgba(0, 0, 0, 0);
}

body.light-mode .about-p {
  text-shadow: none;
}

body.light-mode .p-icon {
  color: var(--dracula-green);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body.light-mode .vwc {
  text-shadow: none;
  background-repeat: repeat-x;
  background-position: left 0% bottom -5%;
  background-image: linear-gradient(
    90deg,
    rgba(205, 118, 233, 0.9) 0%,
    rgba(139, 233, 253, 1) 50%,
    rgba(27, 255, 17, 0.9) 100%
  );
  background-size: 100% 12%;
  padding-bottom: 5px;
  color: black;
}

body.light-mode .working-on-link {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  background-repeat: repeat-x;
  background-position: left 0% bottom -5%;
  background-image: linear-gradient(
    90deg,
    rgba(228, 119, 217, 0.9) 0%,
    rgba(139, 233, 253, 1) 50%,
    rgba(27, 255, 17, 0.9) 100%
  );
  background-size: 100% 12%;
  padding-bottom: 5px;
}

body.light-mode .working-on-list {
  text-shadow: none;
}

body.light-mode .bullet {
  color: black;
  text-shadow: none;
}

@media screen and (max-width: 1100px) {
  body.light-mode .bullet {
    display: none;
  }
}

/* Projects */

body.light-mode .project-tile:hover .project-image {
  box-shadow: 0 0 5px 1px var(--dracula-background);
}

body.light-mode .project-tile:hover .project-name0,
body.light-mode .project-tile:hover .project-name1,
body.light-mode .project-tile:hover .project-name2,
body.light-mode .project-tile:hover .project-name3,
body.light-mode .project-tile:hover .project-name4,
body.light-mode .project-tile:hover .project-name5 {
  color: black;
  text-shadow: none;
}

body.light-mode .project-image {
  box-shadow: 0 0 5px 1px var(--dracula-background);
}

@media (max-width: 1100px) {
  body.light-mode .project-name0,
  body.light-mode .project-name1,
  body.light-mode .project-name2,
  body.light-mode .project-name3,
  body.light-mode .project-name4,
  body.light-mode .project-name5 {
    background-color: var(--dracula-foreground);
    box-shadow: 0 0 3px 1px var(--dracula-background);
    color: black;
    text-shadow: none;
  }

  body.light-mode .project-image {
    box-shadow: 0 0 3px 1px var(--dracula-background);
    opacity: 1;
  }

  body.light-mode .project-tile:hover .project-image {
    opacity: 1;
    box-shadow: 0 0 3px 1px var(--dracula-background);
  }

  body.light-mode .project-tile:hover .project-name0,
  body.light-mode .project-tile:hover .project-name1,
  body.light-mode .project-tile:hover .project-name2,
  body.light-mode .project-tile:hover .project-name3,
  body.light-mode .project-tile:hover .project-name4,
  body.light-mode .project-tile:hover .project-name5 {
    box-shadow: 0 0 3px 1px var(--dracula-background);
    color: black;
    opacity: 1;
    text-shadow: none;
    background-repeat: initial;
    background-position: initial;
    background-image: none;
    background-size: 0;
  }
}

/* Blog */

body.light-mode .dev-article:hover {
  box-shadow: 0 0 5px 1px rgba(56, 58, 89, 0.9);
}

/* Pagination */

body.light-mode .tui-pagination .tui-is-disabled:hover {
  background: var(--dracula-background);
}

body.light-mode .tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--dracula-background);
  background: var(--dracula-cyan);
  border-color: var(--dracula-cyan);
}

body.light-mode .tui-pagination .tui-is-selected:hover {
  background-color: var(--dracula-cyan);
}

body.light-mode .tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid var(--dracula-cyan);
}

body.light-mode .tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid var(--dracula-cyan);
}

body.light-mode .tui-page-inputs .tui-page-current {
  color: var(--dracula-cyan);
}

body.light-mode .tui-pagination .tui-first,
body.light-mode .tui-pagination .tui-prev,
body.light-mode .tui-pagination .tui-next,
body.light-mode .tui-pagination .tui-last,
body.light-mode .tui-pagination .tui-prev-is-ellip,
body.light-mode .tui-pagination .tui-next-is-ellip {
  border: 1px solid var(--dracula-foreground);
  background: var(--dracula-greypurple);
}

/* Contact */

body.light-mode .contact-label {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

body.light-mode input,
body.light-mode textarea {
  color: var(--dracula-background);
  background-color: var(--dracula-foreground);
  box-shadow: 0 0 5px 0px var(--dracula-background);
}

body.light-mode input:focus,
body.light-mode textarea:focus {
  box-shadow: 0 0 4px 1px black;
}

body.light-mode .form-submit {
  background-color: var(--dracula-greypurple);
  color: var(--dracula-foreground);
  box-shadow: 0 5px 0 rgb(30, 32, 50);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

body.light-mode .form-submit:focus {
  box-shadow: 0 3px 0 rgb(30, 32, 50);
  transform: translateY(3px);
  transition: ease 0.1s all;
}

@media (max-width: 1100px) {
  body.light-mode .form-submit {
    opacity: 1;
  }
}

/* Footer */

@media (max-width: 430px) {
  body.light-mode span > i {
    color: var(--dracula-background);
  }

  body.light-mode .icon-links i {
    color: var(--dracula-foreground);
  }
}

body.light-mode .bottom-divider .shape-fill {
  fill: var(--dracula-cyan);
}
