/* Light Mode */

body.light-mode {
  background-color: var(--dracula-purple);
  color: var(--dracula-background);
}

.line.light-mode {
  background: linear-gradient(
    to right,
    rgba(189, 147, 249, 0.8),
    rgba(139, 233, 253, 1),
    rgb(255, 121, 198, 0.8)
  );
}

.custom-shape-divider-bottom-1619735001 .shape-fill.light-mode {
  fill: var(--dracula-green);
}

/* About */

.paragraph .about-header.light-mode,
.paragraph .working-on-header.light-mode {
  color: var(--dracula-foreground);
}

.about-p.light-mode {
  text-shadow: 0 4px 3px rgba(137, 87, 208, 0.4), 0 8px 13px rgba(137, 87, 208, 0.1),
    0 0 0 rgba(137, 87, 208, 0.1);
}

.tech-used-link.light-mode {
  color: var(--dracula-cyan);
  text-shadow: 0 4px 3px rgba(137, 87, 208, 0.4), 0 8px 13px rgba(137, 87, 208, 0.1),
    0 0 0 rgba(137, 87, 208, 0.1);
}

.tech-used-link.light-mode:hover {
  color: var(--dracula-green);
}

.tech-used-list.light-mode {
  text-shadow: 0 4px 3px rgba(137, 87, 208, 0.4), 0 8px 13px rgba(137, 87, 208, 0.1),
    0 0 0 rgba(137, 87, 208, 0.1);
}

.p-icon.light-mode {
  color: var(--dracula-green);
}

.bullet.light-mode {
  color: var(--dracula-foreground);
}

/* Projects */

.project-tile:hover .project-image.light-mode {
  box-shadow: 0 0 5px 1px var(--dracula-selection);
}

.project-tile:hover .project-name0.light-mode,
.project-tile:hover .project-name1.light-mode,
.project-tile:hover .project-name2.light-mode,
.project-tile:hover .project-name3.light-mode,
.project-tile:hover .project-name4.light-mode,
.project-tile:hover .project-name5.light-mode {
  color: var(--dracula-selection);
}

.project-tile:hover .project-name0.light-mode {
  color: var(--dracula-selection);
}

/* Blog */

.devArticle:hover .light-mode {
  box-shadow: 0 0 5px 1px var(--dracula-foreground);
}

/* Contact */
