/* || Projects */

.projects {
  margin: 5.2rem auto 18rem auto;
  overflow: hidden;
  width: 90%;
  padding-top: 2px;
}

.projects-p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 75%;
}

.projects-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.projects-cell {
  padding: 2rem 2rem;
  width: 45%;
}

.project-image {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(248, 248, 242, 0.8);
  max-width: 100%;
  opacity: 0.5;
}

.project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-tile:hover .project-image {
  opacity: 1;
  transition: 0.3s ease all;
  box-shadow: 0 0 5px 1px rgba(248, 248, 242, 0.8);
}

.shrink {
  transition: 0.3s ease;
}

.shrink:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.3s ease;
}

.project-name0,
.project-name1,
.project-name2,
.project-name3,
.project-name4,
.project-name5 {
  background-color: transparent;
  color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  max-width: 1000px;
  padding: 0;
  text-align: center;
  transition: 0.2s ease all;
}

.project-tile:hover .project-name0,
.project-tile:hover .project-name1,
.project-tile:hover .project-name2,
.project-tile:hover .project-name3,
.project-tile:hover .project-name4,
.project-tile:hover .project-name5 {
  color: var(--dracula-foreground);
  transition: 0.3s ease all;
  transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

.project-name0::after {
  content: 'Job Search App';
}

.project-name1::after {
  content: 'Next.js Blog';
}

.project-name2::after {
  content: 'Windows Dev Guide';
}

.project-name3::after {
  content: 'Angular Team Generator';
}
