/* || Media Queries */

@media (min-width: 1776px) {
	form {
		max-width: 1000px;
	}
}

@media (max-width: 1650px) {
	.header-title {
		font-size: 3.8rem;
	}

	.header-sub {
		font-size: 1.2rem;
	}

	.project-tile:hover .project-name0,
	.project-tile:hover .project-name1,
	.project-tile:hover .project-name2,
	.project-tile:hover .project-name3,
	.project-tile:hover .project-name4,
	.project-tile:hover .project-name5 {
		color: var(--dracula-cyan);
		transition: 0.8s ease;
		transform: translateY(-20px);
	}
}

@media (max-width: 1450px) {

	.about,
	.contact {
		width: 70%;
	}

	.project-tile:hover .project-name0,
	.project-tile:hover .project-name1,
	.project-tile:hover .project-name2,
	.project-tile:hover .project-name3,
	.project-tile:hover .project-name4,
	.project-tile:hover .project-name5 {
		color: var(--dracula-cyan);
		transition: 0.8s ease;
		transform: translateY(-15px);
	}
}

@media (max-width: 1300px) {
	.header-title {
		font-size: 3.3rem;
	}

	.header-sub {
		font-size: 1.1rem;
	}

	.projects-cell {
		padding: 2rem 1rem;
	}
}

@media (max-width: 1100px) {
	header {
		padding-top: 0;
	}

	.about,
	.contact {
		width: 85%;
	}

	.header-title {
		font-size: 3.5rem;
	}

	.center-header {
		margin-right: 5px;
	}

	.nav-desktop {
		display: none;
	}

	.menu {
		z-index: 1000;
		display: initial;
		width: 36px;
		height: 36px;
		border: none;
		cursor: pointer;
		background-color: transparent;
		background-image: url("../images/icons/menu-white.svg");
		background-size: 100%;
		margin-left: 55px;
		margin-top: -27px;
	}

	.showClose {
		background-image: url("../images/icons/close.svg");
	}

	.navbar {
		position: absolute;
		display: initial;
		top: 0;
		left: 0;
		background: var(--dracula-background);
		width: 100%;
		height: 40%;
		z-index: 999;
		overflow: hidden;
		color: var(--dracula-foreground);
		transform: translateY(-100%);
		transition: transform 0.2s ease;
		border-bottom-right-radius: 10%;
		border-bottom-left-radius: 10%;
	}

	.showNav {
		transform: translateY(0);
	}

	.navbar ul {
		width: 100%;
		height: 100%;
		list-style: none;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.menu-link a {
		color: var(--dracula-foreground);
		padding-bottom: 10px;
		text-decoration: none;
		font-size: 1.2rem;
		border-bottom: 2px solid var(--dracula-purple);
		text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);

	}

	.menu-link a:hover {
		border-bottom: 2px solid var(--dracula-pink);
	}

	.about {
		margin-top: 8rem;
	}

	.round {
		min-width: 45%;
	}

	.project-name0,
	.project-name1,
	.project-name2,
	.project-name3,
	.project-name4,
	.project-name5 {
		background-color: var(--dracula-foreground);
		color: var(--dracula-background);
		font-size: 1.3rem;
		padding: 1rem 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		transition: none;
		border: 1px solid var(--dracula-greypurple);
	}

	.project-image {
		max-width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		opacity: 1;
		transition: none;
		box-shadow: 0 0 0 0;
		border: 1px solid var(--dracula-greypurple);
	}

	.project-tile:hover .project-name0,
	.project-tile:hover .project-name1,
	.project-tile:hover .project-name2,
	.project-tile:hover .project-name3,
	.project-tile:hover .project-name4,
	.project-tile:hover .project-name5 {
		color: #000000;
		transform: none;
		transition: none;
	}

	.shrink {
		transition: none;
	}

	.shrink:hover {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
	}

	.projects-cell {
		width: 100%;
		padding: 2rem 1rem;
	}

	.contact {
		margin-top: 8rem;
	}
}

@media (max-width: 970px) {
	.header-title {
		font-size: 3rem;
	}

	.header-sub {
		font-size: 1rem;
	}

	.menu {
		margin-top: -22px;
	}
}

@media (max-width: 860px) {
	.header-title {
		font-size: 2.3rem;
	}

	.header-sub {
		font-size: 0.9rem;
	}

	.center-header {
		margin-right: 0;
	}

	.menu {
		width: 30px;
		height: 30px;
		margin-top: -17px;
	}
}

@media (max-width: 810px) {
	.icons-flex {
		flex-wrap: wrap;
	}
}

@media (max-width: 785px) {
	.custom-shape-divider-bottom-1619735001 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1619735001 svg {
		position: relative;
		display: block;
		width: calc(300% + 1.3px);
		height: 500px;
	}

	.custom-shape-divider-bottom-1619735001 .shape-fill {
		fill: #FF79C6;
	}

	/** For tablet devices **/
	@media (min-width: 768px) and (max-width: 1023px) {
		.custom-shape-divider-bottom-1619735001 svg {
			width: calc(135% + 1.3px);
			height: 500px;
		}
	}
}

@media (max-width: 715px) {
	.profile-div {
		text-align: center;
	}

	.round {
		min-width: 75%;
		float: none;
		shape-outside: none;
		margin: 0;
	}

	.header-title {
		font-size: 2.1rem;
	}

	.header-sub {
		font-size: 0.8rem;
	}

	.menu {
		width: 25px;
		height: 25px;
		margin-top: -19px;
		margin-left: 40px;
	}

	.center-header {
		margin-right: 0;
	}

	.about-p {
		text-align: left;
		text-indent: 30px;
	}

	.project-name0,
	.project-name1,
	.project-name2,
	.project-name3,
	.project-name4,
	.project-name5 {
		padding: 0.5rem 0;
		font-size: 1.1rem;
		transition: none;
	}

	.about-p {
		text-indent: 0;
		text-align: center;
	}

	.about-p:not(:first-of-type) {
		text-indent: 0px;
	}

	.icons-flex a i {
		padding: 0 10px;
	}
}

@media (max-width: 660px) {
	.header-title {
		font-size: 1.9rem;
	}

	.header-sub {
		font-size: 0.8rem;
	}

	.navbar {
		height: 40%;
	}

	.icons-flex>span {
		margin: 15px 0;
		font-size: 2.2rem;
	}

	footer p {
		font-size: 1.3rem;
	}
}

@media (max-width: 614px) {
	.menu {
		margin-top: -14px;
		margin-left: 40px;
	}

	.icons-flex>span {
		margin: 15px 0;
		font-size: 1.9rem;
	}

	.header-title {
		font-size: 1.7rem;
	}

	.header-sub {
		font-size: 0.8rem;
	}

	.menu {
		margin-top: -18px;
	}

	footer p {
		font-size: 1.2rem;
	}
}

@media (max-width: 583px) {
	footer {
		padding-left: 0;
		padding-right: 0;
	}

	.icons-flex>span {
		margin: 15px 0;
		font-size: 1.8rem;
	}
}

@media (max-width: 560px) {
	.header-title {
		font-size: 1.4rem;
	}

	.header-sub {
		font-size: 0.75rem;
	}

	.menu {
		width: 20px;
		height: 20px;
		margin-left: 35px;
		margin-top: -17px;
	}
}

@media (max-width: 530px) {
	footer p {
		padding: 0 25px;
	}
}

@media (max-width: 510px) {
	.hidden {
		display: none;
	}

	.show {
		display: initial;
	}

	.header-title {
		text-align: right;
		font-size: 2.6rem;
	}

	.header-sub {
		font-size: 0.8rem;
	}

	.menu {
		width: 30px;
		height: 30px;
		margin-top: -20px;
	}

	.icons-flex>span {
		margin: 0;
		font-size: 1.8rem;
	}

	footer p {
		padding: 0 20px;
	}
}

@media (max-width: 456px) {
	.icons-flex>span {
		font-size: 1.7rem;
	}
}

@media (max-width: 443px) {
	footer p {
		font-size: 1.1rem;
	}

	.header-title {
		font-size: 2.3rem;
	}
}

@media (max-width: 430px) {
	.icons-flex>span {
		font-size: 1.7rem;
	}
}

@media (max-width: 408px) {
	.icons-flex>span {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	.navbar {
		height: 75vh;
	}
}

@media (max-width: 400px) {
	.icons-flex>span {
		font-size: 1.6rem;
		margin: 10px 20px;
	}
}

@media (max-width: 380px) {
	footer p {
		font-size: 1rem;
	}

	.header-title {
		font-size: 1.8rem;
	}

	.header-sub {
		font-size: 0.6rem;
	}

	.menu {
		width: 25px;
		height: 25px;
		margin-top: -13px;
		margin-left: 35px;
	}

	footer p {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 325px) {
	.header-title {
		font-size: 1.4rem;
	}

	.header-sub {
		font-size: 0.6rem;
	}

	.menu {
		width: 20px;
		height: 20px;
		margin-left: 25px;
	}

	.line {
		width: 175px;
	}
}

@media (max-width: 250px) {
	.header-title {
		font-size: 1rem;
	}

	.header-sub {
		font-size: 0.5rem;
	}

	.menu {
		width: 15px;
		height: 15px;
		margin-top: -10px;
	}
}