/* || Media Queries */

@media (min-width: 2400px) {
  .contact-p {
    text-align: center;
  }
}

@media (min-width: 2200px) {
  .hire-me .tooltip {
    margin-left: 80px;
  }
}

@media (min-width: 2001px) {
  .contact-p {
    width: 65%;
  }
}

@media (min-width: 1776px) {
  form {
    max-width: 1000px;
  }
}

@media (max-width: 1775px) {
  .hire-me .tooltip {
    margin-left: 30px;
  }
}

@media (max-width: 1650px) {
  .header-title {
    font-size: 3.8rem;
  }

  .header-sub {
    font-size: 1.2rem;
  }

  .about {
    width: 75%;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-8px);
  }

  .hire-me .tooltip {
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    margin-left: 30px;
    width: 120px;
  }
}

@media (max-width: 1450px) {
  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-6px);
  }

  .hire-me .tooltip {
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    width: 120px;
  }
}

@media (max-width: 1300px) {
  .header-title {
    font-size: 3.3rem;
  }

  .header-sub {
    font-size: 1.1rem;
  }

  .projects-cell {
    padding: 2rem 1rem;
  }

  .hire-me .tooltip {
    margin-left: 35px;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1rem;
  }

  .round {
    max-width: 35%;
  }
}

@media (max-width: 1100px) {
  header {
    padding-top: 2rem;
  }

  .about,
  .contact {
    width: 85%;
  }

  .header-title {
    font-size: 3.5rem;
  }

  .center-header {
    margin-right: 5px;
  }

  .nav-desktop {
    display: none;
  }

  .menu {
    background-color: transparent;
    background-image: url('../assets/images/icons/menu-white.svg');
    background-size: 100%;
    border: none;
    cursor: pointer;
    display: initial;
    height: 36px;
    margin-left: 55px;
    margin-top: -27px;
    width: 36px;
    z-index: 1000;
  }

  .showClose {
    background-image: url('../assets/images/icons/close.svg');
  }

  .navbar {
    background: var(--dracula-background);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px 2px rgba(189, 147, 249, 0.4);
    color: var(--dracula-foreground);
    display: initial;
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.2s ease;
    width: 100%;
    z-index: 999;
  }

  .showNav {
    transform: translateY(0);
    transition: transform 0.2s ease;
  }

  .navbar ul {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
  }

  .menu-link a {
    border-bottom: 2px solid var(--dracula-purple);
    color: var(--dracula-foreground);
    font-size: 1.4rem;
    padding-bottom: 8px;
    text-decoration: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }

  .menu-link a:hover {
    border-bottom: 2px solid var(--dracula-pink);
    color: var(--dracula-cyan);
    transition: ease color 0.2s;
  }

  .about,
  .blog,
  .projects,
  .contact {
    margin-top: 4rem;
  }

  .section-subheader {
    margin-top: 5rem;
  }

  .round {
    max-width: 35%;
  }

  .profile-div {
    margin-bottom: 0;
  }

  .hire-me .tooltip {
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    margin-left: 35px;
    width: 120px;
  }

  .marg-bottom {
    margin-bottom: 3rem;
  }

  .projects-container {
    width: 85%;
    margin: 0 auto;
  }

  .projects-p,
  .blog-p {
    text-align: center;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    background-color: var(--dracula-foreground);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-purple);
    color: var(--dracula-background);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0;
    transition: none;
    width: 100%;
    margin-top: 5px;
  }

  .project-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-purple);
    max-width: 100%;
    opacity: 1;
    transition: none;
  }

  .project-tile:hover .project-image {
    opacity: 1;
    box-shadow: 0 0 3px 1px var(--dracula-purple);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: none;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    box-shadow: 0 0 4px 1px var(--dracula-purple);
    color: var(--dracula-background);
    opacity: 1;
    transform: none;
    transition: none;
  }

  .shrink {
    transition: none;
  }

  .shrink:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: none;
  }

  .projects-cell {
    width: 100%;
    padding: 2rem 1rem;
  }

  .contact-p {
    text-align: center;
  }
}

@media (max-width: 970px) {
  .header-title {
    font-size: 3rem;
  }

  .header-sub {
    font-size: 1rem;
  }

  .menu {
    margin-top: -22px;
  }
}

@media (max-width: 860px) {
  .header-title {
    font-size: 2.3rem;
  }

  .header-sub {
    font-size: 0.9rem;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 2.1rem;
  }

  .menu {
    height: 30px;
    margin-top: -19px;
    width: 30px;
  }

  .hire-me .tooltip {
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 120px;
  }

  .projects-container {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 500px) {
  .heart {
    right: 255px;
  }
}

@media screen and (max-device-width: 850px) {
  .heart {
    right: 200px;
  }
}

@media (max-width: 810px) {
  .icons-flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 785px) {
  .custom-shape-divider-bottom-1619735001 {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
  }

  .custom-shape-divider-bottom-1619735001 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
  }

  .custom-shape-divider-bottom-1619735001 .shape-fill {
    fill: #ff79c6;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1619735001 svg {
      width: calc(135% + 1.3px);
      height: 500px;
    }
  }
}

@media (max-width: 715px) {
  .profile-div {
    text-align: center;
  }

  .about-container {
    box-shadow: none;
  }

  .round {
    float: none;
    margin: 0;
    max-width: 60%;
    shape-outside: none;
  }

  .tooltip {
    display: none;
  }

  .header-title {
    font-size: 2.1rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .menu {
    height: 25px;
    margin-left: 40px;
    margin-top: -18px;
    width: 25px;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 1.9rem;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    transition: none;
  }

  .about-p {
    text-indent: 0;
    text-align: left;
  }

  .about-p:not(:first-of-type) {
    text-indent: 0px;
  }

  .paragraph,
  .steve {
    text-align: center;
  }

  .hidden-icon {
    display: none;
  }

  .icons-flex a i {
    padding: 0 10px;
  }

  .tech-used {
    text-align: left;
  }
}

@media (max-width: 660px) {
  .header-title {
    font-size: 1.9rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 2.2rem;
  }

  footer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 614px) {
  .menu {
    margin-top: -14px;
    margin-left: 40px;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.9rem;
  }

  .header-title {
    font-size: 1.7rem;
  }

  .section-header {
    font-size: 1.8rem;
    padding: 0.75rem 0;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .menu {
    margin-top: -18px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 583px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 560px) {
  .header-title {
    font-size: 1.4rem;
  }

  .header-sub {
    font-size: 0.75rem;
  }

  .menu {
    margin-left: 35px;
    margin-top: -16px;
  }
}

@media (max-width: 530px) {
  footer p {
    padding: 0 25px;
  }
}

@media (max-width: 510px) {
  .hidden {
    display: none;
  }

  .show {
    display: initial;
  }

  .header-title {
    text-align: right;
    font-size: 2.6rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .menu {
    height: 30px;
    margin-top: -20px;
    width: 30px;
  }

  .line {
    width: 195px;
  }

  .round {
    max-width: 70%;
  }

  .about,
  .blog,
  .projects,
  .contact {
    margin-top: 3rem;
  }

  .about-p {
    padding-left: 0;
    padding-right: 0;
  }

  .tech-used-list {
    margin-left: 0;
  }

  .icons-flex > span {
    font-size: 1.8rem;
    margin: 0;
  }

  .icons-flex {
    margin-bottom: 0.8rem;
  }

  footer p {
    padding: 0 20px;
  }
}

@media (max-width: 476px) {
  footer p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .made {
    margin-right: 24px;
  }
  .heart {
    right: 167px;
  }
}

@media (max-width: 456px) {
  .icons-flex > span {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  .navbar {
    height: 75vh;
  }

  .paragraph .about-header {
    font-size: 1.5rem;
  }
}

@media (max-width: 443px) {
  footer p {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .header-title {
    font-size: 2.3rem;
  }

  .made {
    margin-right: 26px;
  }

  .heart {
    right: 125px;
  }
}

@media (max-width: 430px) {
  .icons-flex > span {
    font-size: 2rem;
    margin: 10px 20px;
  }
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 10rem;
  }

  .paragraph .about-header {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 395px) {
  footer p {
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .heart {
    right: 115px;
  }
}

@media (max-width: 381px) {
  .header-title {
    font-size: 1.8rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .menu {
    height: 25px;
    margin-left: 35px;
    margin-top: -13px;
    width: 25px;
  }

  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 7rem;
  }
}

@media (max-width: 368px) {
  footer p {
    padding: 0 5px;
  }
}

@media (max-width: 348px) {
  .heart {
    right: 8px;
  }
}

@media (max-width: 325px) {
  .header-title {
    font-size: 1.4rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .menu {
    width: 20px;
    height: 20px;
    margin-left: 25px;
  }

  .line {
    width: 175px;
  }
}

@media (max-width: 297px) {
  footer p {
    padding: 0;
  }

  .made {
    margin-right: 25px;
  }

  .heart {
    right: 8px;
  }
}

@media (max-width: 250px) {
  .header-title {
    font-size: 1rem;
  }

  .header-sub {
    font-size: 0.5rem;
  }

  .menu {
    width: 15px;
    height: 15px;
    margin-top: -10px;
  }
}

/* Firefox */

/* @media (min-width: 2400px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: -130px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 2399px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 110px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1850px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 80px;
    }
  }
}

@media (max-width: 1650px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 110px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1450px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 120px;
    }
  }
}

@media (max-width: 1300px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 150px;
    }
  }
}

@media (max-width: 1100px) {
  @-moz-document url-prefix() {
    .hire-me .tooltip {
      margin-left: 180px;
    }
  }
} */
