/* || Desktop & Laptop */
@media (min-width: 2560px) {
  .about-p {
    font-size: 1.4rem;
  }
}

@media (min-width: 2400px) {
  .contact-p {
    text-align: center;
  }
}

@media (min-width: 2001px) {
  .contact-p {
    width: 65%;
  }

  .projects .subheader {
    width: 50%;
  }
}

@media (min-width: 1776px) {
  form {
    max-width: 1000px;
  }
}

@media (min-width: 1651px) {
  .modal-content {
    width: auto;
  }

  .blog .subheader {
    width: 55%;
  }

  .dev-article {
    width: 55%;
  }
}

@media (max-width: 1660px) {
  .blog .subheader,
  .contact .subheader {
    padding: 25px 10px 25px 20px;
  }

  .subheader p {
    text-align: left;
    font-size: 1.1rem;
  }
}

@media (max-width: 1650px) {
  .header-title {
    font-size: 3.8rem;
  }

  .about-header-title {
    font-size: 4.1rem;
  }

  .header-sub {
    font-size: 1.2rem;
  }

  .about {
    width: 75%;
  }

  .terminal-window {
    width: 650px;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
  }
}

@media (max-width: 1450px) {
  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
  }
}

@media (max-width: 1369px) {
  .subheader p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1300px) {
  .header-title {
    font-size: 3.3rem;
  }

  .about-header-title {
    font-size: 4rem;
  }

  .header-sub {
    font-size: 1.1rem;
  }

  /* Projects */

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1rem;
  }

  .projects-cell {
    padding: 2rem 1rem;
  }

  .profile-image {
    max-width: 35%;
  }

  /* Blog */

  .dev-article {
    width: 75%;
  }

  .blog .subheader {
    width: 75%;
  }

  /* Projects */
  .projects .subheader {
    width: 90%;
  }
}

@media (min-width: 1101px) {
  @media (max-height: 900px) {
    .terminal-container {
      padding-top: 3rem;
      margin-top: 0;
    }

    .arrows {
      bottom: 30px;
    }
  }

  @media (max-height: 800px) {
    .terminal-container {
      padding-top: 2rem;
      margin-top: 0;
    }

    .arrows {
      bottom: 20px;
    }
  }

  @media (max-height: 750px) {
    .terminal-container {
      padding-top: 1rem;
      margin-top: 0;
    }

    .arrows {
      bottom: 10px;
    }
  }

  @media (max-height: 700px) {
    .arrows-container {
      display: none;
    }
  }
}

/* || Mobile */

@media (max-width: 1100px) {
  header {
    padding-top: 2rem;
  }

  /* General */

  .about,
  .contact {
    width: 85%;
  }

  .blog,
  .projects,
  .contact {
    margin-top: 0;
    padding-top: 14.03rem;
  }

  header {
    background-color: rgba(40, 42, 54, 0.9);
    backdrop-filter: blur(20px) saturate(180%);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px 4px rgba(50, 52, 75, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
  }

  .header-title {
    font-size: 3.5rem;
  }

  .about-header-title {
    font-size: 3.5rem;
  }

  .center-header {
    margin-right: 5px;
  }

  .section-subheader {
    margin-top: 5rem;
  }

  .marg-bottom {
    margin-bottom: 3rem;
  }

  /* Nav */

  .nav-desktop {
    display: none;
  }

  .nav-wrapper {
    margin-top: -20px;
    padding-right: 10px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    border: none;
    cursor: url('../assets/images/icons/cursor-hand-white.png'), auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 50px;
    z-index: 1000;
    position: relative;
  }

  .nav-wrapper .navbar {
    background: var(--dracula-background);
    box-shadow: 0 0 5px 2px rgba(189, 147, 249, 0.4);
    color: var(--dracula-foreground);
    display: initial;
    height: 385%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
    transition: transform 0.2s ease;
    width: 100%;
    z-index: 999;
  }

  .nav-wrapper .navbar.showNav {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform 0.2s ease;
  }

  .nav-wrapper .navbar ul {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
  }

  .menu-link a {
    color: var(--dracula-foreground);
    font-size: 1.4rem;
    padding-bottom: 8px;
    text-decoration: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background-repeat: repeat-x;
    background-position: left 0% bottom -5%;
    background-image: linear-gradient(
      90deg,
      rgba(139, 233, 253, 1) 0%,
      rgba(189, 147, 249, 1) 50%,
      rgb(255, 121, 198, 1) 100%
    );
    background-size: 100% 12%;
    transition: ease color 0.2s;
    letter-spacing: 5px;
  }

  .menu-link a:hover {
    color: var(--dracula-purple);
    transition: ease color 0.2s;
  }

  .s {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s img {
    position: relative;
    top: 25px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }

  .mode-toggle {
    position: initial;
    margin-right: 0;
    padding: 0;
  }

  .checkbox-label {
    background-color: var(--dracula-selection);
  }

  /* About */

  .about {
    scroll-margin-top: 150px;
  }

  .terminal-container {
    margin-top: 0;
    padding-top: 14rem;
  }

  .working-on-list .bullet {
    display: none;
  }

  .profile-image {
    max-width: 35%;
  }

  .profile-div {
    margin-bottom: 0;
  }

  /* Blog */

  .blog-container {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .blog .subheader {
    width: 75%;
  }

  .subheader p {
    font-size: 1.1rem;
  }

  .dev-article {
    width: 75%;
  }

  .dev-article:first-of-type {
    margin-top: 0;
  }

  .dev-article:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  /* Projects */

  .modal {
    z-index: 1001;
    background-color: transparent;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    background-color: rgba(68, 71, 90, 0.8);
  }

  .close-button {
    width: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  .projects .subheader {
    width: 82%;
    padding: 25px 5px 25px 20px;
  }

  .projects .subheader p {
    font-size: 1.1rem;
    text-align: left;
  }

  .projects-container {
    width: 85%;
    margin: 0 auto;
  }

  .projects-p,
  .blog-p {
    text-align: center;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    background-color: var(--dracula-foreground);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0;
    transition: none;
    width: 100%;
    margin-top: 5px;
    text-shadow: none;
  }

  .project-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    max-width: 100%;
    opacity: 1;
    transition: none;
  }

  .project-tile:hover .project-image {
    opacity: 1;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: none;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    text-shadow: none;
    color: black;
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    transition: none;
  }

  .shrink {
    transition: none;
  }

  .shrink:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: none;
  }

  .projects-cell {
    width: 100%;
    padding: 2rem 1rem;
  }

  .projects-cell:first-of-type {
    padding-top: 1.5rem;
  }

  /* Contact */

  .form-container {
    padding-top: 1.5rem;
  }

  .contact-p {
    text-align: center;
  }

  .form-submit {
    opacity: 1;
  }

  @media (max-height: 850px) {
    .terminal-container {
      padding-top: 12.1rem;
      margin-top: 0;
    }

    .arrows {
      bottom: 20px;
    }
  }

  @media (max-height: 760px) {
    .terminal-container {
      padding-top: 11.1rem;
      margin-top: 0;
    }

    .arrows {
      bottom: 10px;
    }
  }

  @media (max-height: 690px) {
    .arrows-container {
      display: none;
    }
  }
}

@media (max-width: 970px) {
  .header-title {
    font-size: 3rem;
  }

  .header-sub {
    font-size: 1rem;
  }

  .nav-wrapper {
    margin-top: -19px;
  }

  .nav-wrapper .navbar {
    height: 410%;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 860px) {
  /* General */
  .blog,
  .projects,
  .contact {
    padding-top: 12.53rem;
  }

  .nav-wrapper {
    margin-top: -17px;
  }

  .nav-wrapper .navbar {
    height: 440%;
  }

  .header-title {
    font-size: 2.4rem;
  }

  .header-sub {
    font-size: 0.9rem;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 2.1rem;
  }

  .line {
    width: 220px;
  }

  /* 	About */
  .about {
    scroll-margin-top: 120px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .terminal-container {
    padding-top: 11.6rem;
  }

  /* Projects */
  .projects .subheader {
    width: 96%;
  }

  .projects-container {
    width: 100%;
  }
}

@media (max-width: 810px) {
  .icons-flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 785px) {
  .bottom-divider {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    width: 100%;
  }

  .bottom-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 480px;
  }

  .bottom-divider .shape-fill {
    fill: #ff79c6;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .bottom-divider svg {
      width: calc(135% + 1.3px);
      height: 500px;
    }
  }
}

@media (max-width: 767.5px) {
  .about {
    margin-bottom: 15rem;
  }
}

@media (max-width: 740px) {
  .nav-wrapper .menu {
    padding-left: 40px;
  }
}

@media (max-width: 716px) {
  /* General */

  .blog,
  .projects,
  .contact {
    padding-top: 11.53rem;
  }

  .nav-wrapper {
    margin-top: -17px;
  }

  .nav-wrapper .navbar {
    height: 460%;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .header-title {
    font-size: 2.1rem;
    margin-right: -10px;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 1.9rem;
  }

  .line {
    width: 190px;
  }

  /* About */

  .terminal-container {
    padding-top: 11.3rem;
  }

  .about-container {
    box-shadow: none;
  }

  .profile-image {
    float: none;
    margin: 0;
    max-width: 60%;
    shape-outside: none;
  }

  .profile-div {
    text-align: center;
  }

  .about-p {
    text-indent: 0;
    text-align: left;
  }

  .about-p:not(:first-of-type) {
    text-indent: 0px;
  }

  .paragraph,
  .steve {
    text-align: center;
  }

  .hidden-icon {
    display: none;
  }

  .working-on {
    text-align: left;
  }

  /* Projects */

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    transition: none;
  }

  /* Blog */

  .blog .subheader {
    width: 98%;
  }

  .dev-article {
    width: 98%;
  }

  /* Footer */

  .icons-flex a i {
    padding: 0 10px;
  }
}

@media (max-width: 660px) {
  .nav-wrapper {
    margin-top: -16px;
  }

  .nav-wrapper .navbar {
    height: 500%;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .header-title {
    font-size: 1.9rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .terminal-container {
    padding-top: 11rem;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 2.2rem;
  }

  footer p {
    font-size: 1.2rem;
  }

  .heart {
    right: 172px;
  }
}

@media (max-width: 614px) {
  /* General */
  .blog,
  .projects,
  .contact {
    padding-top: 11.03rem;
  }

  .header-title {
    font-size: 1.7rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .section-header {
    font-size: 1.8rem;
    padding: 0.75rem 0;
  }

  .line {
    width: 180px;
  }

  /* About */
  .terminal-container {
    padding-top: 10.8rem;
  }

  /* Projects */
  .projects .subheader p {
    font-size: 1.1rem;
  }

  .modal-content {
    padding: 1rem;
  }

  /* Contact */
  .contact {
    width: 90%;
  }

  /* Footer */
  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.9rem;
  }
}

@media (max-width: 583px) {
  .nav-wrapper .menu {
    padding-left: 30px;
  }

  footer {
    padding-left: 0;
    padding-right: 0;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 570px) {
  /* General */

  .blog,
  .projects,
  .contact {
    padding-top: 11.53rem;
  }

  .nav-wrapper {
    margin-top: -20px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    padding-left: 60px;
  }

  .nav-wrapper .navbar {
    height: 500%;
  }

  .hidden {
    display: none;
  }

  .show {
    display: initial;
  }

  .ball {
    transition-property: none !important;
  }

  .header-title {
    text-align: right;
    font-size: 2.7rem;
  }

  .header-sub {
    font-size: 1rem;
  }

  .line {
    width: 180px;
  }

  /* About */

  .about {
    scroll-margin-top: 140px;
  }

  .terminal-container {
    padding-top: 10rem;
  }

  .terminal-window {
    height: 355px;
  }

  .profile-image {
    max-width: 70%;
  }

  .about-p {
    padding-left: 0;
    padding-right: 0;
  }

  .working-on-list {
    margin-left: 0;
  }

  @media (max-height: 850px) {
    .arrows {
      bottom: 40px;
    }

    .arrows-container {
      display: initial;
    }
  }

  @media (max-height: 630px) {
    .arrows-container {
      display: none;
    }
  }

  /* Blog */

  .article-info {
    overflow-wrap: break-word;
  }

  .article-title {
    font-size: 1.1rem;
  }

  /* Footer */

  .icons-flex > span {
    font-size: 1.8rem;
    margin: 0;
  }

  footer p {
    padding: 0 20px;
  }
}

@media (max-width: 530px) {
  .contact .subheader {
    width: 98%;
  }

  .projects .subheader {
    width: 93%;
  }

  footer p {
    padding: 0 25px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .nav-wrapper .navbar {
    height: 90vh;
  }

  .about {
    margin-top: 16rem;
  }

  .heart {
    right: 255px;
  }
}

@media (max-width: 476px) {
  .terminal-container {
    padding: 10rem 1.5rem 0 1.5rem;
  }

  .modal-content {
    padding: 1rem 0.5rem;
  }

  footer p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .made {
    margin-right: 24px;
  }

  .heart {
    right: 159px;
  }

  @-moz-document url-prefix() {
    .heart {
      right: 169px;
    }
  }
}

@media (max-width: 456px) {
  .blog,
  .projects,
  .contact {
    padding-top: 10.53rem;
  }

  .about {
    scroll-margin-top: 120px;
  }

  .icons-flex > span {
    font-size: 1.7rem;
  }

  footer p {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .header-title {
    font-size: 2.4rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .nav-wrapper {
    margin-top: -15px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .made {
    margin-right: 26px;
  }

  .heart {
    right: 189px;
  }
}

@media (max-width: 450px) {
  .nav-wrapper .navbar {
    height: 75vh;
  }

  .paragraph h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .blog,
  .projects,
  .contact {
    padding-top: 10.03rem;
    margin-bottom: 8rem;
  }

  .about {
    margin-bottom: 8rem;
  }

  .nav-wrapper {
    margin-top: -13px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    padding-left: 40px;
  }

  .header-title {
    font-size: 1.9rem;
  }

  .header-sub {
    font-size: 0.7rem;
  }

  .terminal-container {
    padding-top: 9rem;
  }

  .paragraph h3 {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }

  .icons-flex > span {
    font-size: 2rem;
    margin: 10px 20px;
  }

  span > i {
    color: rgb(219, 219, 215);
  }

  .icon-links i {
    color: var(--dracula-background);
  }

  .heart {
    right: 137px;
  }
}

@media (max-width: 423px) {
  .subheader p {
    font-size: 1.1rem;
  }
}

@media (max-width: 395px) {
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 7rem;
  }

  .bottom-divider svg {
    height: 460px;
  }

  footer p {
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .heart {
    right: 125px;
    width: 50px;
  }
}

@media (max-width: 368px) {
  .nav-wrapper .menu {
    padding-left: 30px;
  }

  footer p {
    padding: 0 5px;
  }
}

@media (max-width: 359.5px) {
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 0;
  }

  footer {
    margin-top: 2rem;
  }
}

@media (max-width: 348px) {
  .blog,
  .projects,
  .contact {
    padding-top: 9.53rem;
  }

  .header-title {
    font-size: 1.6rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .nav-wrapper {
    margin-top: -11px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .terminal-container {
    padding-top: 9rem;
  }

  .line {
    width: 175px;
  }

  .heart {
    right: 127px;
  }
}

@media (max-width: 338px) {
  .heart {
    right: 106px;
  }
}

@media (max-width: 325px) {
  .blog,
  .projects,
  .contact {
    padding-top: 9.03rem;
  }

  .header-title {
    font-size: 1.4rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .nav-wrapper .menu {
    padding-left: 25px;
  }

  .terminal-container {
    padding-top: 8rem;
  }
}

@media (max-width: 318px) {
  .heart {
    right: 10px;
  }
}

@media (max-width: 297px) {
  .nav-wrapper .menu {
    padding-left: 20px;
  }

  footer p {
    padding: 0;
  }

  .made {
    margin-right: 25px;
  }

  .heart {
    right: 8px;
  }
}

@media (max-width: 250px) {
  .header-title {
    font-size: 1rem;
  }

  .header-sub {
    font-size: 0.5rem;
  }
}
