/* || Desktop & Laptop */

@media (min-width: 2400px) {
  .contact-p {
    text-align: center;
  }
}

@media (min-width: 2001px) {
  .contact-p {
    width: 65%;
  }
}

@media (min-width: 1776px) {
  form {
    max-width: 1000px;
  }
}

@media (max-width: 1650px) {
  .header-title {
    font-size: 3.8rem;
  }

  .about-header-title {
    font-size: 4.5rem;
  }

  .header-sub {
    font-size: 1.2rem;
  }

  .about {
    width: 75%;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-8px);
  }
}

@media (max-width: 1450px) {
  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    transform: translateY(-6px);
  }

  .dev-article {
    width: 48%;
  }
}

@media (max-width: 1300px) {
  .header-title {
    font-size: 3.3rem;
  }

  .about-header-title {
    font-size: 4rem;
  }

  .header-sub {
    font-size: 1.1rem;
  }

  /* Projects */

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1rem;
  }

  .projects-cell {
    padding: 2rem 1rem;
  }

  .profile-image {
    max-width: 35%;
  }
}

/* || Mobile */

@media (max-width: 1100px) {
  header {
    padding-top: 2rem;
  }

  /* General */

  .about,
  .contact {
    width: 85%;
  }

  .blog,
  .projects,
  .contact {
    margin-top: 4rem;
  }

  .header-title {
    font-size: 3.5rem;
  }

  .about-header-title {
    font-size: 3.5rem;
  }

  .center-header {
    margin-right: 5px;
  }

  .section-subheader {
    margin-top: 5rem;
  }

  .marg-bottom {
    margin-bottom: 3rem;
  }

  /* Nav */

  .nav-desktop {
    display: none;
  }

  .nav-wrapper {
    margin-top: -20px;
    padding-right: 10px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    border: none;
    cursor: url('../assets/images/icons/cursor-hand-white.png'), auto;
    display: initial;
    padding: 0;
    padding-left: 50px;
    z-index: 1000;
    position: relative;
  }

  .nav-wrapper .navbar {
    background: var(--dracula-background);
    box-shadow: 0 0 5px 2px rgba(189, 147, 249, 0.4);
    color: var(--dracula-foreground);
    display: initial;
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.2s ease;
    width: 100%;
    z-index: 999;
  }

  .nav-wrapper .navbar.showNav {
    transform: translateY(0);
    transition: transform 0.2s ease;
  }

  .nav-wrapper .navbar ul {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
  }

  .menu-link a {
    color: var(--dracula-foreground);
    font-size: 1.4rem;
    padding-bottom: 8px;
    text-decoration: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background-repeat: repeat-x;
    background-position: left 0% bottom -5%;
    background-image: linear-gradient(
      90deg,
      rgba(139, 233, 253, 1) 0%,
      rgba(189, 147, 249, 1) 50%,
      rgba(80, 250, 123, 1) 100%
    );
    background-size: 100% 12%;
    transition: ease color 0.2s;
  }

  .menu-link a:hover {
    color: var(--dracula-purple);
    transition: ease color 0.2s;
  }

  .s {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s img {
    position: relative;
    top: 25px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }

  .mode-toggle {
    position: initial;
    margin-right: 0;
    padding: 0;
  }

  .checkbox-label {
    background-color: var(--dracula-selection);
  }

  /* About */

  .about {
    margin-top: 5rem;
    scroll-margin-top: 10px;
  }

  .terminal-container {
    margin-top: 12rem;
  }

  .working-on-list .bullet {
    display: none;
  }

  .profile-image {
    max-width: 35%;
  }

  .profile-div {
    margin-bottom: 0;
  }

  /* Blog */

  .dev-article {
    width: 75%;
  }

  .dev-article:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  /* Projects */

  .projects-container {
    width: 85%;
    margin: 0 auto;
  }

  .projects-p,
  .blog-p {
    text-align: center;
  }

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    background-color: var(--dracula-foreground);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0;
    transition: none;
    width: 100%;
    margin-top: 5px;
    text-shadow: none;
  }

  .project-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    max-width: 100%;
    opacity: 1;
    transition: none;
  }

  .project-tile:hover .project-image {
    opacity: 1;
    box-shadow: 0 0 2px 1px var(--dracula-foreground);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: none;
  }

  .project-tile:hover .project-name0,
  .project-tile:hover .project-name1,
  .project-tile:hover .project-name2,
  .project-tile:hover .project-name3,
  .project-tile:hover .project-name4,
  .project-tile:hover .project-name5 {
    text-shadow: none;
    color: black;
    opacity: 1;
    transform: none;
    transition: none;
  }

  .shrink {
    transition: none;
  }

  .shrink:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: none;
  }

  .projects-cell {
    width: 100%;
    padding: 2rem 1rem;
  }

  /* Contact */

  .contact-p {
    text-align: center;
  }

  .form-submit {
    opacity: 1;
  }
}

@media (max-width: 970px) {
  .header-title {
    font-size: 3rem;
  }

  .header-sub {
    font-size: 1rem;
  }

  .nav-wrapper {
    margin-top: -18px;
  }

  .about-nav-wrapper {
    margin-top: 2px;
  }
}

@media (max-width: 860px) {
  .nav-wrapper {
    margin-top: -15px;
  }

  .about-nav-wrapper {
    margin-top: 2px;
  }

  .header-title {
    font-size: 2.4rem;
  }

  .header-sub {
    font-size: 0.9rem;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 2.1rem;
  }

  .projects-container {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .heart {
    right: 200px;
  }
}

@media (max-width: 810px) {
  .icons-flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 785px) {
  .bottom-divider {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
  }

  .bottom-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 480px;
  }

  .bottom-divider .shape-fill {
    fill: #ff79c6;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .bottom-divider svg {
      width: calc(135% + 1.3px);
      height: 500px;
    }
  }
}

@media (max-width: 767.5px) {
  .about {
    margin-bottom: 15rem;
  }
}

@media (max-width: 740px) {
  .nav-wrapper .menu {
    padding-left: 40px;
  }
}

@media (max-width: 716px) {
  /* General */

  .nav-wrapper {
    margin-top: -14px;
  }

  .about-nav-wrapper {
    margin-top: 2px;
  }

  .header-title {
    font-size: 2.1rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .center-header {
    margin-right: 0;
  }

  .section-header {
    font-size: 1.9rem;
  }

  /* About */

  .about-container {
    box-shadow: none;
  }

  .profile-image {
    float: none;
    margin: 0;
    max-width: 60%;
    shape-outside: none;
  }

  .profile-div {
    text-align: center;
  }

  .about-p {
    text-indent: 0;
    text-align: left;
  }

  .about-p:not(:first-of-type) {
    text-indent: 0px;
  }

  .paragraph,
  .steve {
    text-align: center;
  }

  .hidden-icon {
    display: none;
  }

  .working-on {
    text-align: left;
  }

  /* Projects */

  .project-name0,
  .project-name1,
  .project-name2,
  .project-name3,
  .project-name4,
  .project-name5 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    transition: none;
  }

  /* Blog */

  .dev-article {
    width: 100%;
  }

  /* Footer */

  .icons-flex a i {
    padding: 0 10px;
  }
}

@media (max-width: 660px) {
  .nav-wrapper {
    margin-top: -12px;
  }

  .about-nav-wrapper {
    margin-top: 3px;
  }

  .header-title {
    font-size: 1.9rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 2.2rem;
  }

  footer p {
    font-size: 1.2rem;
  }

  .heart {
    right: 185px;
  }
}

@media (max-width: 614px) {
  .header-title {
    font-size: 1.7rem;
  }

  .section-header {
    font-size: 1.8rem;
    padding: 0.75rem 0;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.9rem;
  }
}

@media (max-width: 583px) {
  .nav-wrapper .menu {
    padding-left: 30px;
  }

  footer {
    padding-left: 0;
    padding-right: 0;
  }

  .icons-flex > span {
    margin: 15px 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 570px) {
  /* General */

  .blog,
  .projects,
  .contact {
    margin-top: 3rem;
  }

  .nav-wrapper {
    margin-top: -20px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    padding-left: 40px;
  }

  .nav-wrapper .navbar {
    height: 60%;
  }

  .hidden {
    display: none;
  }

  .show {
    display: initial;
  }

  .ball {
    transition-property: none !important;
  }

  .header-title {
    text-align: right;
    font-size: 2.7rem;
  }

  .header-sub {
    font-size: 1rem;
  }

  .line {
    width: 195px;
  }

  /* About */

  .landing-wrapper {
    height: auto;
  }

  .anchor {
    display: none;
  }

  .terminal-container {
    margin-top: 3rem;
  }

  .profile-image {
    max-width: 70%;
  }

  .about-p {
    padding-left: 0;
    padding-right: 0;
  }

  .working-on-list {
    margin-left: 0;
  }

  /* Blog */

  .article-info {
    overflow-wrap: break-word;
  }

  .article-title {
    font-size: 1.1rem;
  }

  /* Footer */

  .icons-flex > span {
    font-size: 1.8rem;
    margin: 0;
  }

  footer p {
    padding: 0 20px;
  }
}

@media (max-width: 530px) {
  footer p {
    padding: 0 25px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 500px) {
  .nav-wrapper .navbar {
    height: 90vh;
  }

  .heart {
    right: 255px;
  }
}

@media (max-width: 476px) {
  .terminal-container {
    margin-top: 6rem;
  }

  footer p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .made {
    margin-right: 24px;
  }

  .heart {
    right: 170px;
  }

  @-moz-document url-prefix() {
    .heart {
      right: 169px;
    }
  }
}

@media (max-width: 456px) {
  .icons-flex > span {
    font-size: 1.7rem;
  }

  footer p {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .header-title {
    font-size: 2.4rem;
  }

  .header-sub {
    font-size: 0.8rem;
  }

  .nav-wrapper {
    margin-top: -15px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .made {
    margin-right: 26px;
  }

  .heart {
    right: 125px;
  }
}

@media (max-width: 450px) {
  .nav-wrapper .navbar {
    height: 75vh;
  }

  .paragraph h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 8rem;
  }

  .nav-wrapper {
    margin-top: -12px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper .menu {
    padding-left: 40px;
  }

  .header-title {
    font-size: 1.9rem;
  }

  .header-sub {
    font-size: 0.7rem;
  }

  .paragraph h3 {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }

  .icons-flex > span {
    font-size: 2rem;
    margin: 10px 20px;
  }

  span > i {
    color: rgb(219, 219, 215);
  }

  .icon-links i {
    color: var(--dracula-background);
  }
}

@media (max-width: 395px) {
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 7rem;
  }

  .bottom-divider svg {
    height: 460px;
  }

  footer p {
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .heart {
    right: 115px;
  }
}

@media (max-width: 368px) {
  .nav-wrapper .menu {
    padding-left: 30px;
  }

  footer p {
    padding: 0 5px;
  }
}

@media (max-width: 359.5px) {
  .about,
  .blog,
  .projects,
  .contact {
    margin-bottom: 0;
  }

  footer {
    margin-top: 2rem;
  }
}

@media (max-width: 348px) {
  .header-title {
    font-size: 1.6rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .nav-wrapper {
    margin-top: -8px;
  }

  .about-nav-wrapper {
    margin-top: 0;
  }

  .line {
    width: 175px;
  }

  .heart {
    right: 8px;
  }
}

@media (max-width: 325px) {
  .header-title {
    font-size: 1.4rem;
  }

  .header-sub {
    font-size: 0.6rem;
  }

  .nav-wrapper .menu {
    padding-left: 20px;
  }
}

@media (max-width: 297px) {
  footer p {
    padding: 0;
  }

  .made {
    margin-right: 25px;
  }

  .heart {
    right: 8px;
  }
}

@media (max-width: 250px) {
  .header-title {
    font-size: 1rem;
  }

  .header-sub {
    font-size: 0.5rem;
  }
}
