/* Fonts */

@font-face {
	font-family: 'Proza';
	src: url("../Fonts/Proza-Regular.otf") format("opentype");
}

/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--dracula-background: #282A36;
	--dracula-foreground: #F8F8F2;
	--dracula-selection: #44475A;
	--dracula-comment: #6272A4;
	--dracula-red: #FF5555;
	--dracula-purple: #BD93F9;
	--dracula-pink: #FF79C6;
	--dracula-green: #50FA7B;
	--dracula-cyan: #8BE9FD;
	--dracula-yellow: #F1FA8C;
	--dracula-orange: #FFB86C;
	--dracula-greypurple: #383A59;
}

/* || General Styles */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--dracula-background);
	color: var(--dracula-foreground);
}

a {
	color: var(--dracula-cyan);
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.section-header {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
	color: var(--dracula-foreground);
}

.line {
	background: linear-gradient(to right, var(--dracula-purple), var(--dracula-cyan), var(--dracula-pink));
	border: 0;
	height: 1px;
	margin: 0 auto;
	opacity: 0.9;
	width: 240px;
}

.marg-bottom {
	margin-bottom: 3rem;
}

/* || Header */

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: auto;
	background-color: var(--dracula-greypurple);
	border-radius: 5px;
	padding: 25px 0;
}

.header-title {
	font-size: 4rem;
	color: var(--dracula-purple);
	font-family: 'Proza', sans-serif;
	text-transform: uppercase;
}

.header-gradient {
	/* Fallback: Set a background color. */
	background-color: var(--dracula-purple);
	background-clip: text;

	/* Create the gradient. */
	background-image: linear-gradient(45deg, var(--dracula-purple), var(--dracula-cyan), var(--dracula-pink));

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.spacing {
	letter-spacing: 10px;
}

.red {
	color: var(--dracula-red);
}

.header-sub {
	font-size: 1.2rem;
	font-family: 'Inter', sans-serif;
	font-style: italic;
	text-align: center;
	letter-spacing: 2px;
	color: var(--dracula-foreground);
	text-transform: uppercase;
}

.show {
	display: none;
}

/* || Nav Menu */

.menu {
	display: none;
}

.navbar {
	display: none;
}

.nav-desktop {
	margin-top: 4rem;
}

.desktop-list {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.desktop-link:nth-of-type(1) {
	padding-left: 5px;
}

.desktop-link:nth-of-type(3) {
	padding-right: 5px;
}

.desktop-link a {
	color: var(--dracula-pink);
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	border-bottom: 2px solid var(--dracula-purple);
	transition: ease-in .2s all;
}

.desktop-link a:hover {
	border-bottom: 2px solid var(--dracula-pink);
	color: var(--dracula-cyan);
}

.menu-link a,
.desktop-link a {
	font-family: 'Inter', sans-serif;
}

/* || About Me */

.about {
	margin-top: 10rem;
	padding-top: 1rem;
}

.about-p:not(:first-of-type) {
	text-indent: 30px;
}

.about-p {
	padding-top: 2rem;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

.about-p:nth-child(even)::selection {
	background: var(--dracula-green);
	color: var(--dracula-background);
}

.about-p:nth-child(odd)::selection {
	background: var(--dracula-cyan);
	color: var(--dracula-background);
}

.round {
	border-radius: 50%;
	max-width: 40%;
	float: left;
	shape-outside: circle();
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

p a:hover {
	text-decoration-style: dashed;
	text-decoration-line: underline;
}

/* || Projects */

.projects {
	margin-top: 8rem;
	padding-top: 1rem;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.projects-cell {
	padding: 2rem 1rem;
	margin: 0 auto;
}

.project-image {
	max-width: 100%;
	border-radius: 10px;
	opacity: 0.5;
	transition: 0.8s ease;
}

.project-tile:hover .project-image {
	opacity: 1;
	transition: 0.8s ease;
}

.project-name1,
.project-name2,
.project-name3,
.project-name4,
.project-name5 {
	text-align: center;
	background-color: var(--dracula-background);
	color: var(--dracula-background);
	font-size: 1.4rem;
	padding: 1rem 0;
	max-width: 1000px;
	transition: 0.8s ease;
}

.project-tile:hover .project-name1,
.project-tile:hover .project-name2,
.project-tile:hover .project-name3,
.project-tile:hover .project-name4,
.project-tile:hover .project-name5 {
	color: var(--dracula-cyan);
	transition: 0.8s ease;
}

.project-name1::after {
	content: "Personal Portfolio";
}

.project-name2::after {
	content: "Technical Document";
}

.project-name3::after {
	content: "Product Landing Page";
}

.project-name4::after {
	content: "Survey Form";
}

.project-name5::after {
	content: "Tribute Page";
}

/* || Contact */

.contact {
	margin: 5rem 0 7rem 0;
	padding-top: 16px;
}

.form-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

form {
	width: 100%;
	margin: 10px auto;
	padding: 10px 0;
}

fieldset {
	border: none;
}

label {
	display: block;
	padding-bottom: 0.3rem;
	color: var(--dracula-foreground);
	font-size: 1.1rem;
}

input,
textarea {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 18px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
	border-radius: 5px;
}

.form-submit {
	padding: 19px 39px 18px 39px;
	color: var(--dracula-background);
	background-color: var(--dracula-cyan);
	font-size: 1.3rem;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	transition: ease .6s all;
}

.form-submit:hover {
	background-color: var(--dracula-red);
	color: var(--dracula-foreground);
}

/* || Footer */

footer {
	margin-top: 4rem;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--dracula-foreground);
	color: var(--dracula-background);
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 5px;
}

@-moz-document url-prefix() {
	footer {
		font-size: 1.1rem;
	}
}

footer p {
	padding-bottom: 10px;
}

.footer-link {
	color: var(--dracula-red);
}

.footer-link:hover {
	text-decoration: underline;
}

.icons-flex {
	display: flex;
	justify-content: space-evenly;
	margin: 1.5rem 0 2rem 0;
}

.icons-flex>span {
	font-size: 2rem;
}

span>i {
	color: var(--dracula-background);
}

.icon-links i:hover {
	color: var(--dracula-red);
}

.icon-links .cyan:hover {
	color: var(--dracula-cyan);
}

.icon-links .purple:hover {
	color: var(--dracula-purple);
}

.icon-links .yellow:hover {
	color: var(--dracula-yellow);
}

.icon-links .pink:hover {
	color: var(--dracula-pink);
}

.icon-links .green:hover {
	color: var(--dracula-green);
}

.icon-links i:active {
	color: var(--dracula-purple)
}

.icon-links i:focus {
	color: var(--dracula-red)
}