/* Fonts */

@font-face {
	font-family: 'Proza';
	src: url("../Fonts/Proza-Regular.otf") format("opentype");
}

/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--dracula-background: #282A36;
	--dracula-foreground: #F8F8F2;
	--dracula-selection: #44475A;
	--dracula-comment: #6272A4;
	--dracula-red: #FF5555;
	--dracula-purple: #BD93F9;
	--dracula-pink: #FF79C6;
	--dracula-green: #50FA7B;
	--dracula-cyan: #8BE9FD;
	--dracula-yellow: #F1FA8C;
	--dracula-orange: #FFB86C;
	--dracula-greypurple: #383A59;
}

/* || General Styles */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--dracula-background);
	color: var(--dracula-foreground);
}

a {
	color: var(--dracula-cyan);
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

/* Header Divider */

.divider1 {
	position: relative;
	z-index: -1;
}

.custom-shape-divider-top-1619733049 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1619733049 svg {
	position: relative;
	display: block;
	width: calc(300% + 1.3px);
	height: 700px;
}

.custom-shape-divider-top-1619733049 .shape-fill {
	fill: var(--dracula-greypurple);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.custom-shape-divider-top-1619733049 svg {
		width: calc(135% + 1.3px);
		height: 500px;
	}
}

/* || Nav Menu */

.menu {
	display: none;
}

.navbar {
	display: none;
}

.nav-desktop {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 1.2rem 0 1.2rem 0;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: var(--dracula-greypurple);
	z-index: 200;
	box-shadow: 0 0 5px 4px rgba(50, 52, 75, 0.6);
	border-radius: 0 0 10px 10px;
}

.desktop-list {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.desktop-link a {
	color: var(--dracula-pink);
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	font-size: 1.2rem;
	box-shadow: inset 0 -2px 0 var(--dracula-purple);
	transition: background 0.1s cubic-bezier(.33, .66, .66, 1);
	text-transform: uppercase;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.desktop-link a:hover {
	color: var(--dracula-foreground);
	background: var(--dracula-purple);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.menu-link a,
.desktop-link a {
	font-family: 'Inter', sans-serif;
}

/* || Header */

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
	padding: 100px 0 25px 0;
}

.header-title {
	font-size: 4.7rem;
	color: var(--dracula-purple);
	font-family: 'Proza', sans-serif;
	text-transform: uppercase;
}

.header-gradient {
	/* Fallback: Set a background color. */
	background-color: var(--dracula-purple);
	background-clip: text;
	/* Create the gradient. */
	background-image: linear-gradient(45deg, var(--dracula-purple), var(--dracula-cyan), var(--dracula-pink));
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	animation: header-animation-rev 1s ease forwards;
}

@keyframes header-animation-rev {
	0% {
		background-size: 300%;
	}

	40% {
		background-size: 200%;
	}

	100% {
		background-size: 100%;
	}
}

.header-gradient:hover {
	animation: header-animation 0.5s ease-in forwards;
}

@keyframes header-animation {
	0% {
		background-size: 100%;
	}

	80% {
		background-size: 200%;
	}

	100% {
		background-size: 300%;
	}
}

.spacing {
	letter-spacing: 10px;
}

.red {
	color: var(--dracula-red);
}

.header-sub-div {
	text-align: right;
}

.header-sub {
	font-size: 1.4rem;
	font-family: 'Inter', sans-serif;
	font-style: italic;
	text-align: right;
	letter-spacing: 2px;
	color: var(--dracula-foreground);
	text-transform: uppercase;
	width: 100%;
}

.typed {
	color: var(--dracula-green);
}

.typed-cursor {
	color: var(--dracula-foreground);
}

.show {
	display: none;
}

.section-header {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
	color: var(--dracula-foreground);
}

.line {
	background: linear-gradient(to right, var(--dracula-purple), var(--dracula-cyan), var(--dracula-pink));
	border: 0;
	height: 1px;
	margin: 0 auto;
	opacity: 0.9;
	width: 240px;
}

.marg-bottom {
	margin-bottom: 3rem;
}

/* || About Me */

.about {
	width: 70%;
	margin: 5rem auto 5rem auto;
	padding-top: 1rem;
}

.about-p:not(:first-of-type) {
	text-indent: 30px;
}

.about-p {
	padding-top: 2rem;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

.about-p:nth-child(even)::selection {
	background: var(--dracula-green);
	color: var(--dracula-background);
}

.about-p:nth-child(odd)::selection {
	background: var(--dracula-cyan);
	color: var(--dracula-background);
}

.round {
	border-radius: 50%;
	max-width: 40%;
	float: left;
	shape-outside: circle();
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

p a:hover {
	text-decoration-style: dashed;
	text-decoration-line: underline;
}

/* || Projects */

.projects {
	padding-top: 1rem;
	width: 90%;
	margin: 8rem auto 0 auto;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.projects-cell {
	padding: 2rem 2rem;
	margin: 0 auto;
	width: 50%;
}

.project-image {
	max-width: 100%;
	border-radius: 5px;
	opacity: 0.5;
	transition: 0.8s ease;
	box-shadow: 0 0 3px 1px var(--dracula-cyan);
}

.project-tile:hover .project-image {
	opacity: 1;
	transition: 0.8s ease;
}

.shrink {
	transition: 1s ease;
}

.shrink:hover {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 0.8s ease;
}

.project-name0,
.project-name1,
.project-name2,
.project-name3,
.project-name4,
.project-name5 {
	text-align: center;
	background-color: transparent;
	color: transparent;
	font-size: 1.3rem;
	padding: 0 0;
	max-width: 1000px;
	transition: 0.8s ease;
	font-family: Inter, sans-serif;
}

.project-tile:hover .project-name0,
.project-tile:hover .project-name1,
.project-tile:hover .project-name2,
.project-tile:hover .project-name3,
.project-tile:hover .project-name4,
.project-tile:hover .project-name5 {
	color: var(--dracula-cyan);
	transition: 0.8s ease;
	transform: translateY(-25px);
}

.project-name0::after {
	content: "Job Search App";
}

.project-name1::after {
	content: "Personal Portfolio";
}

.project-name2::after {
	content: "Technical Document";
}

.project-name3::after {
	content: "Product Landing Page";
}

.project-name4::after {
	content: "Survey Form";
}

.project-name5::after {
	content: "Tribute Page";
}

/* || Contact */

.contact {
	margin: 5rem 0 7rem 0;
	padding-top: 16px;
	width: 60%;
	margin: 5rem auto 7rem auto;
}

.form-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

form {
	width: 100%;
	margin: 10px auto;
	padding: 10px 0;
}

fieldset {
	border: none;
}

label {
	display: block;
	padding-bottom: 0.3rem;
	color: var(--dracula-foreground);
	font-size: 1.1rem;
}

input,
textarea {
	border: none;
	font-size: 18px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: var(--dracula-foreground);
	color: var(--dracula-background);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
	border-radius: 5px;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 2px 2px var(--dracula-purple);
}

.form-submit {
	padding: 19px 39px 18px 39px;
	color: var(--dracula-background);
	background-color: var(--dracula-cyan);
	font-size: 1.3rem;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	transition: ease .6s all;
}

.form-submit:hover {
	background-color: var(--dracula-red);
	color: var(--dracula-foreground);
}

/* || Footer */

footer {
	margin-top: 4rem;
	margin-bottom: 10px;
	text-align: center;
	background-color: transparent;
	color: var(--dracula-background);
	padding: 0.5rem;
	border-radius: 5px;
}

footer p {
	padding-bottom: 10px;
	font-size: 1.3rem;
	font-family: 'Inter', monospace;
}

.footer-link {
	color: var(--dracula-foreground);
	transition: 0.5s ease all;
}

.footer-link:hover {
	text-decoration: none;
	color: var(--dracula-background);
}

.icons-flex {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem 0 2rem 0;
}

.icons-flex>span {
	font-size: 2.5rem;
}

span>i {
	color: var(--dracula-background);
}

.icon-links i:hover {
	color: var(--dracula-red);
}

.icon-links .cyan:hover {
	color: var(--dracula-cyan);
}

.icon-links .purple:hover {
	color: var(--dracula-purple);
}

.icon-links .yellow:hover {
	color: var(--dracula-yellow);
}

.icon-links .orange:hover {
	color: var(--dracula-orange);
}

.icon-links .green:hover {
	color: var(--dracula-green);
}

.icon-links i:active {
	color: var(--dracula-purple)
}

.icon-links:focus i {
	color: var(--dracula-red)
}

/* Footer Divider */

.divider2 {
	position: relative;
	z-index: -1;
}

.custom-shape-divider-bottom-1619735001 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619735001 svg {
	position: relative;
	display: block;
	width: calc(156% + 1.3px);
	height: 500px;
}

.custom-shape-divider-bottom-1619735001 .shape-fill {
	fill: #FF79C6;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.custom-shape-divider-bottom-1619735001 svg {
		width: calc(135% + 1.3px);
		height: 500px;
	}
}