/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--color-red: #C81E3F;
	--color-blue: #003C7D;
	--color-dark: #131415;
	--color-light: #EEEEEE;
}

/* Base Style */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-dark);
	color: var(--color-light);
}

a {
	color: red;
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.section-header {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
}

.line {
	background: linear-gradient(to right, var(--color-red), #FFFFFF, var(--color-blue));
	border: 0;
	height: 1px;
	margin: 0 auto;
	opacity: 0.9;
	width: 25%;
}

.marg-bottom {
	margin-bottom: 3rem;
}

/* Header */

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: auto;
}

.left-header {
	flex-grow: 1;
	flex-basis: min-content;
	text-align: right;
}

.center-header {
	flex-grow: 1;
	flex-basis: min-content;
	margin-left: 1rem;
}

.red {
	color: var(--color-red);
}

.blue {
	color: var(--color-blue);
}

.header-title {
	font-size: 4.8rem;
}

.hashflag-logo {
	width: 95px;
}

.header-sub {
	position: relative;
	top: 0;
	left: 379px;
	font-size: 1.5rem;
	font-style: italic;
	margin-top: -1.2rem;
}

/* adjust only in firefox */
@-moz-document url-prefix() {
	.header-sub {
		left: 394px;
	}
}

/* Nav Menu */

.menu {
	display: none;
}

.navbar {
	display: none;
}

.nav-desktop {
	margin-top: 4rem;
}

.nav-desktop ul {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.desktop-link a {
	color: var(--color-light);
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	border-bottom: 2px solid var(--color-red);
}

.desktop-link a:hover {
	border-bottom: 2px solid var(--color-light);
}

.menu-link a,
.desktop-link a {
	font-family: 'Inter', sans-serif;
}

/* About Me */

.about {
	margin-top: 10rem;
	padding-top: 1rem;
}

.about-p:not(:first-of-type) {
	text-indent: 30px;
}

.about-p {
	padding-top: 2rem;
	text-align: justify;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

.about-p:nth-child(even)::selection {
	background: var(--color-red);
}

.about-p:nth-child(odd)::selection {
	background: var(--color-blue);
}

.round {
	border-radius: 50%;
	max-width: 40%;
	float: left;
	shape-outside: circle();
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

.round-mobile {
	display: none;
}

/* Projects */

.projects {
	margin-top: 8rem;
	padding-top: 1rem;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.projects-cell {
	padding: 2rem 1rem;
	margin: 0 auto;
}

.projects-subtitle {
	text-align: center;
	padding-top: 0.5rem;
	font-style: italic;
	font-size: 1.1rem;
}

.project-image {
	max-width: 100%;
	border-radius: 10px;
	opacity: 0.5;
	transition: 0.8s ease;
}

.project-image:hover {
	opacity: 1;
	transition: 0.8s ease;
}

.project-tile:hover .project-name {
	color: var(--color-light);
	transition: 0.8s ease;
}

.project-name {
	text-align: center;
	background-color: var(--color-dark);
	color: var(--color-dark);
	font-size: 1.4rem;
	padding: 1rem 0;
	max-width: 1000px;
	transition: 0.8s ease;
}

/* Contact */

.contact {
	margin-top: 8rem;
}

.contact-flex {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.icon-links-red {
	color: var(--color-red);
	font-size: 4rem;
}

.icon-links-blue {
	color: var(--color-blue);
	font-size: 4rem;
}

.icon-links-red:hover,
.icon-links-blue:hover {
	color: var(--color-light);
}

/* Footer */

footer {
	margin-top: 4rem;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--color-light);
	color: #000000;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.4rem;
	padding: 0.5rem;
}

@-moz-document url-prefix() {
	footer {
		font-size: 1.1rem;
	}
}

.footer-link:hover .blue,
.footer-link:hover .red {
	text-decoration: underline;
}


/* Media Queries */

@media screen and (max-width: 1400px) {
	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	.header-sub {
		left: 379px;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 394px
		}
	}

	.round {
		max-width: 50%;
	}
}

@media screen and (max-width: 1024px) {
	.wrapper {
		width: 90%;
	}

	.header-title {
		font-size: 3.5rem;
	}

	.hashflag-logo {
		width: 70px;
	}

	.header-sub {
		left: 254px;
		font-size: 1.4rem;
		font-style: italic;
		margin-top: -0.8rem;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 266px;
		}
	}

	.nav-desktop {
		display: none;
	}

	/* Nav Menu */
	.menu {
		z-index: 1000;
		display: initial;
		width: 36px;
		height: 36px;
		border: none;
		cursor: pointer;
		background-color: transparent;
		background-image: url("../images/icons/menu.svg");
		background-size: 100%;
	}

	.showClose {
		background-image: url("../images/icons/close.svg");
	}

	.navbar {
		position: absolute;
		display: initial;
		top: 0;
		left: 0;
		background: var(--color-dark);
		width: 100%;
		height: 30%;
		z-index: 999;
		overflow: hidden;
		color: var(--color-light);
		/* hide the menu above the screen by default */
		transform: translateY(-100%);
		transition: transform 0.2s ease;
	}

	.showNav {
		transform: translateY(0);
	}

	.navbar ul {
		width: 100%;
		height: 100%;
		list-style: none;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.menu-link a {
		color: var(--color-light);
		padding-bottom: 10px;
		text-decoration: none;
		font-size: 1.2rem;
		border-bottom: 2px solid var(--color-red);
	}

	.menu-link a:hover {
		border-bottom: 2px solid var(--color-light);
	}

	.about {
		margin-top: 8rem;
	}

	.project-name {
		background-color: var(--color-light);
		color: #000000;
		font-size: 1.3rem;
		padding: 1rem 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.project-image {
		max-width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		opacity: 1;
	}

	.project-tile:hover .project-name {
		color: #000000;
	}
}

@media screen and (max-width: 700px) {
	.round {
		display: none;
	}

	.mobile-img {
		text-align: center;
	}

	.round-mobile {
		display: initial;
		width: 80%;
	}

	.hashflag-logo {
		width: 50px;
	}

	.header-title {
		font-size: 2.8rem;
	}

	.header-sub {
		left: 205px;
		font-size: 1.1rem;
		margin-top: -10px;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 215px;
		}
	}

	.menu {
		width: 30px;
		height: 30px;
	}

	.about-p {
		text-align: left;
		text-indent: 30px;
	}

	.project-name {
		padding: 0.5rem 0;
		font-size: 1.1rem;
	}

	.round {
		max-width: 45%;
	}

	.about-p {
		text-indent: 0;
		text-align: center;
	}

	.about-p:not(:first-of-type) {
		text-indent: 0px;
	}

	.icon-links-red {
		font-size: 2.5rem;
	}

	.icon-links-blue {
		font-size: 2.5rem;
	}

	footer {
		font-size: 1rem;
	}
}

@media screen and (max-width: 550px) {
	.hashflag-logo {
		width: 35px;
	}

	.header-title {
		font-size: 1.9rem;
	}

	.header-sub {
		left: 135px;
		font-size: 0.8rem;
		margin-top: -7px;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 142px;
		}
	}

	.menu {
		width: 25px;
		height: 25px;
	}
}

@media screen and (max-width: 375px) {
	.hashflag-logo {
		width: 30px;
	}

	.header-title {
		font-size: 1.7rem;
	}

	.header-sub {
		left: 121px;
		font-size: 0.7rem;
		margin-top: -6px;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 128px;
		}
	}
}

@media screen and (max-width: 330px) {
	.hashflag-logo {
		width: 20px;
	}

	.header-title {
		font-size: 1.3rem;
	}

	.header-sub {
		left: 95px;
		font-size: 0.5rem;
		margin-top: -4px;
	}

	@-moz-document url-prefix() {
		.header-sub {
			left: 101px;
		}
	}

	.menu {
		width: 20px;
		height: 20px;
	}

	.center-header {
		margin-left: 5px;
	}
}