/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--color-red: #C81E3F;
	--color-blue: #003C7D;
	--color-dark: #131415;
	--color-light: #E6EAEA;
}

/* || General Styles */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-dark);
	color: var(--color-light);
}

a {
	color: red;
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.section-header {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
}

.line {
	background: linear-gradient(to right, var(--color-red), #FFFFFF, var(--color-blue));
	border: 0;
	height: 1px;
	margin: 0 auto;
	opacity: 0.9;
	width: 25%;
}

.marg-bottom {
	margin-bottom: 3rem;
}

/* || Header */

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: auto;
	background-color: var(--color-light);
	border-radius: 5px;
	padding: 25px 0;
}

.left-header {
	flex-grow: 1;
	flex-basis: min-content;
	text-align: right;
}

.center-header {
	flex-grow: 1;
	flex-basis: min-content;
	margin-left: 1rem;
}

.red {
	color: var(--color-red);
}

.blue {
	color: var(--color-blue);
}

.header-title {
	font-size: 4.8rem;
}

.hashflag-logo {
	width: 95px;
}

.header-sub {
	position: relative;
	top: 0;
	left: 379px;
	font-size: 1.5rem;
	font-style: italic;
	margin-top: -1.2rem;
	color: var(--color-dark);
}

/* adjust only in firefox */
@-moz-document url-prefix() {
	.header-sub {
		left: 394px;
	}
}

/* || Nav Menu */

.menu {
	display: none;
}

.navbar {
	display: none;
}

.nav-desktop {
	margin-top: 4rem;
}

.desktop-list {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.desktop-link a {
	color: var(--color-light);
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	border-bottom: 2px solid var(--color-red);
}

.desktop-link a:hover {
	border-bottom: 2px solid var(--color-light);
}

.menu-link a,
.desktop-link a {
	font-family: 'Inter', sans-serif;
}

/* || About Me */

.about {
	margin-top: 10rem;
	padding-top: 1rem;
}

.about-p:not(:first-of-type) {
	text-indent: 30px;
}

.about-p {
	padding-top: 2rem;
	text-align: justify;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

.about-p:nth-child(even)::selection {
	background: var(--color-red);
}

.about-p:nth-child(odd)::selection {
	background: var(--color-blue);
}

.round {
	border-radius: 50%;
	max-width: 40%;
	float: left;
	shape-outside: circle();
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

/* || Projects */

.projects {
	margin-top: 8rem;
	padding-top: 1rem;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.projects-cell {
	padding: 2rem 1rem;
	margin: 0 auto;
}

.project-image {
	max-width: 100%;
	border-radius: 10px;
	opacity: 0.5;
	transition: 0.8s ease;
}

.project-tile:hover .project-image {
	opacity: 1;
	transition: 0.8s ease;
}

.project-name1,
.project-name2,
.project-name3,
.project-name4,
.project-name5 {
	text-align: center;
	background-color: var(--color-dark);
	color: var(--color-dark);
	font-size: 1.4rem;
	padding: 1rem 0;
	max-width: 1000px;
	transition: 0.8s ease;
}

.project-tile:hover .project-name1,
.project-tile:hover .project-name2,
.project-tile:hover .project-name3,
.project-tile:hover .project-name4,
.project-tile:hover .project-name5 {
	color: var(--color-light);
	transition: 0.8s ease;
}

.project-name1::after {
	content: "Personal Portfolio";
}

.project-name2::after {
	content: "Technical Document";
}

.project-name3::after {
	content: "Product Landing Page";
}

.project-name4::after {
	content: "Survey Form";
}

.project-name5::after {
	content: "Tribute Page";
}

/* || Contact */

.contact {
	margin-top: 8rem;
}

.contact-flex {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.icon-links-red {
	color: var(--color-red);
	font-size: 4rem;
}

.icon-links-blue {
	color: var(--color-blue);
	font-size: 4rem;
}

.icon-links-red:hover,
.icon-links-blue:hover {
	color: var(--color-light);
}

/* || Footer */

footer {
	margin-top: 4rem;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--color-light);
	color: #000000;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.4rem;
	padding: 0.5rem;
}

@-moz-document url-prefix() {
	footer {
		font-size: 1.1rem;
	}
}

.footer-link:hover .blue,
.footer-link:hover .red {
	text-decoration: underline;
}