/* Universal box sizing and base reset */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--color-red: #FF5555;
	--color-blue: #BD93F9;
	--color-dark: #282A36;
	--color-light: #F8F8F2;
	--mostly-dark: #44475A;
	--dracula-pink: #FF79C6;
	--dracula-blue: #383A59;
	--dracula-green: #50FA7B;
	--dracula-cyan: #8BE9FD;
	--dracula-yellow: #F1FA8C;
	--dracula-steel: #6272A4;
}

/* || General Styles */

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-dark);
	color: var(--color-light);
}

a {
	color: var(--dracula-pink);
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.section-header {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
	color: var(--color-light);
}

.line {
	background: linear-gradient(to right, var(--dracula-green), var(--dracula-pink), var(--dracula-cyan));
	border: 0;
	height: 1px;
	margin: 0 auto;
	opacity: 0.9;
	width: 25%;
}

.marg-bottom {
	margin-bottom: 3rem;
}

/* || Header */

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: auto;
	background-color: var(--dracula-blue);
	border-radius: 5px;
	padding: 25px 0;
}

.center-header {
	color: var(--color-blue);
	font-family: 'Roboto';
	font-weight: 600;
}

.spacing {
	letter-spacing: 12px;
}

.red {
	color: var(--color-red);
}

.blue {
	color: var(--color-blue);
}

.header-title {
	font-size: 4.8rem;
}

.hashflag-logo {
	width: 95px;
}

.header-sub {
	font-size: 1.2rem;
	font-family: 'Inter', sans-serif;
	font-style: italic;
	text-align: center;
	letter-spacing: 2px;
	color: var(--color-light);
	text-transform: uppercase;
}


/* || Nav Menu */

.menu {
	display: none;
}

.navbar {
	display: none;
}

.nav-desktop {
	margin-top: 4rem;
}

.desktop-list {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.desktop-link:nth-of-type(1) {
	padding-left: 5px;
}

.desktop-link:nth-of-type(3) {
	padding-right: 5px;
}

.desktop-link a {
	color: var(--dracula-pink);
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	border-bottom: 2px solid var(--color-blue);
	transition: ease-in .2s all;
}

.desktop-link a:hover {
	border-bottom: 2px solid var(--dracula-cyan);
}

.menu-link a,
.desktop-link a {
	font-family: 'Inter', sans-serif;
}

/* || About Me */

.about {
	margin-top: 10rem;
	padding-top: 1rem;
}

.about-p:not(:first-of-type) {
	text-indent: 30px;
}

.about-p {
	padding-top: 2rem;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

.about-p:nth-child(even)::selection {
	background: var(--color-red);
}

.about-p:nth-child(odd)::selection {
	background: var(--color-blue);
}

.round {
	border-radius: 50%;
	max-width: 40%;
	float: left;
	shape-outside: circle();
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}

p a:hover {
	text-decoration-style: dashed;
	text-decoration-line: underline;
}

/* || Projects */

.projects {
	margin-top: 8rem;
	padding-top: 1rem;
}

.projects-grid {
	display: flex;
	flex-flow: row wrap;
}

.projects-cell {
	padding: 2rem 1rem;
	margin: 0 auto;
}

.project-image {
	max-width: 100%;
	border-radius: 10px;
	opacity: 0.5;
	transition: 0.8s ease;
}

.project-tile:hover .project-image {
	opacity: 1;
	transition: 0.8s ease;
}

.project-name1,
.project-name2,
.project-name3,
.project-name4,
.project-name5 {
	text-align: center;
	background-color: var(--color-dark);
	color: var(--color-dark);
	font-size: 1.4rem;
	padding: 1rem 0;
	max-width: 1000px;
	transition: 0.8s ease;
}

.project-tile:hover .project-name1,
.project-tile:hover .project-name2,
.project-tile:hover .project-name3,
.project-tile:hover .project-name4,
.project-tile:hover .project-name5 {
	color: var(--dracula-pink);
	transition: 0.8s ease;
}

.project-name1::after {
	content: "Personal Portfolio";
}

.project-name2::after {
	content: "Technical Document";
}

.project-name3::after {
	content: "Product Landing Page";
}

.project-name4::after {
	content: "Survey Form";
}

.project-name5::after {
	content: "Tribute Page";
}

/* || Contact */

.contact {
	margin: 5rem 0 7rem 0;
}

.form-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

form {
	width: 100%;
	margin: 10px auto;
	padding: 10px 0;
}

fieldset {
	border: none;
}

label {
	display: block;
	padding-bottom: 0.3rem;
	color: var(--color-light);
	font-size: 1.1rem;
}

input,
textarea {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 18px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
	border-radius: 5px;
}

.form-submit {
	padding: 19px 39px 18px 39px;
	color: var(--color-dark);
	background-color: var(--color-blue);
	font-size: 1.3rem;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	transition: ease .6s all;
}

.form-submit:hover {
	background-color: var(--color-red);
	color: var(--color-light);
}

/* || Footer */

footer {
	margin-top: 4rem;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--color-light);
	color: #000000;
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 5px;
}

@-moz-document url-prefix() {
	footer {
		font-size: 1.1rem;
	}
}

footer p {
	padding-bottom: 10px;
}

.footer-link:hover .blue,
.footer-link:hover .red {
	text-decoration: underline;
}

.icons-flex {
	display: flex;
	justify-content: space-evenly;
	margin: 1.5rem 0 2rem 0;
}

.icons-flex>span {
	font-size: 2rem;
}

span>i {
	color: var(--color-dark);
}

.icon-links i:hover {
	color: var(--color-red);
}

.icon-links i:active {
	color: var(--color-blue)
}

.icon-links i:focus {
	color: var(--color-red)
}