/* TODO:

-- Project Tile Name: Right now the text is always there and just changes color from black to white. Using ::before and ::after pseudo selectors might be a better way, but I couldn't get the ease transition to work with them.

*/




/* Universal box sizing and base reset */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Base Style */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    color: red;
    text-decoration: none;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}

.line {
    background: linear-gradient(to right, #C81E3F, #FFFFFF, #09203F);
    border: 0;
    height: 1px;
    margin: 0 auto;
    opacity: 0.9;
    width: 25%;
}

.marg-bottom {
    margin-bottom: 3rem;
}

/* Header */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.left-header {
    flex-grow: 1;
    flex-basis: min-content;
    text-align: right;
}

.center-header {
    flex-grow: 1;
    flex-basis: min-content;
    margin-left: 1rem;
}

.red {
    color: #C81E3F;
}

.blue {
    color: #09203F;
}

.header-title {
    font-size: 4.8rem;
}

.hashflag-logo {
    width: 95px;
}

.header-sub {
    position: relative;
    top: 0;
    left: 375px;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1.2rem;
}

/* Nav Menu */

.menu {
    z-index: 1000;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("images/icons/menu.svg");
    background-size: 100%;
}

.showClose {
    background-image: url("images/icons/close.svg");
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 30%;
    z-index: 999;
    overflow: hidden;
    color: #FFFFFF;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
}

.showNav {
    transform: translateY(0);
}

.navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu-link a {
    color: #FFFFFF;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 2px solid #C81E3F;
}

.menu-link a:hover {
    border-bottom: 2px solid #FFFFFF;
}

/* About Me */

.about {
    margin-top: 8rem;
    padding-top: 1rem;
}

.about-p {
    padding-top: 2rem;
    text-align: justify;
    font-size: 1.2rem;
}

.round {
    border-radius: 50%;
    max-width: 35%;
    max-height: 35%;
    float: left;
    shape-outside: circle();
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

/* Projects */

.projects {
    margin-top: 8rem;
    padding-top: 1rem;
}

.projects-grid {
    display: flex;
    flex-flow: row wrap;
}

.projects-cell {
    padding: 2rem 1rem;
    margin: 0 auto;
}

.projects-subtitle {
    text-align: center;
    padding-top: 0.5rem;
    font-style: italic;
    font-size: 1.1rem;
}

.project-image {
    max-width: 100%;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 1s ease;
}

.project-image:hover {
    filter: grayscale(0%);
    filter: gray;
    filter: none;
    transition: 1s ease;
}

.project-tile:hover .project-name {
    color: white;
    transition: 1s ease;
}

.project-name {
    text-align: center;
    background-color: black;
    color: black;
    font-size: 1.4rem;
    padding: 1rem 0;
    max-width: 1000px;
    transition: 1s ease;
}

/* Contact */

.contact {
    margin-top: 8rem;
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.icon-links-red {
    color: #C81E3F;
    font-size: 4rem;
}

.icon-links-blue {
    color: #153054;
    font-size: 4rem;
}

.icon-links-red:hover,
.icon-links-blue:hover {
    color: #FFFFFF;
}

/* Footer */

footer {
    margin-top: 4rem;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.footer-link:hover .blue,
.footer-link:hover .red {
    text-decoration: underline;
}

/* from https://wweb.dev/resources/css-separator-generator */
.spikes {
    position: relative;
    background: #FFFFFF;

}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, #FFFFFF 25%, transparent 25%), linear-gradient(225deg, #FFFFFF 25%, transparent 25%);
    background-position: 0 0;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .center-header {
        margin-left: 0.3rem;
    }

    .header-sub {
        left: 400px;
    }

    .navbar {
        height: 25%;
    }

    .round {
        max-width: 40%;
        max-height: 40%;
    }

    .project-name {
        background-color: white;
        color: black;
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .project-image {
        max-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        filter: none;
        transition: none;
    }

    .project-image:hover {
        filter: none;
        transition: none;
    }

    .project-tile:hover .project-name {
        color: #C81E3F;
        transition: 1s ease;
    }
}

@media screen and (max-width: 425px) {
    .left-header {
        text-align: center;
    }

    .center-header {
        margin-left: 0;
    }

    .hashflag-logo {
        width: 40px;
    }

    .header-title {
        font-size: 2.2rem;
    }

    .header-sub {
        left: 130px;
        font-size: 1rem;
        margin-top: -8px;
    }

    .project-name {
        padding: 0.5rem 0;
        font-size: 1.1rem;
    }

    .round {
        max-width: 45%;
        max-height: 45%;
    }

    .icon-links-red {
        font-size: 2.5rem;
    }

    .icon-links-blue {
        font-size: 2.5rem;
    }

    footer {
        font-size: 1rem;
    }

}